.ToggleableOptionGroup {
  background-color: white;
  font-size: 13px;
}

.ToggleableOptionGroup + .ToggleableOptionGroup {
  margin-top: 1em;
}

.ToggleableOptionGroup__PrimaryOption {
  font-weight: bold;
}

.ToggleableOption__SecondaryOptions {
  border-top: 2px solid $grey-light;
}
