.hui-Row {
  padding: $x-10;
  width: 100%;
  color: $white;
}

.hui-Row.phone {
  padding: $x-10 $x-5;
}

.hui-Row.banner {
  color: $white;
  text-align: center;
}

.hui-Row.primary {
  background-color: $white;
  color: $grey;
}

.hui-Row.secondary {
  background-image: url('../images/alt_charity_bg--blur.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  // background-attachment: fixed;
  background-size: cover;
  color: $grey;
  overflow: hidden;
}
