$hui-border-green: #00b44d;
$hui-bg-beige: #FBF9F4;
$hui-link-grey: #8e8e8e;
$hui-link-active-green: #109e4d;
$hui-text-grey: #585858;
$hui-border-grey: #bcbec0;
$hui-label-grey: #b3b3b3;
$hui-header-grey: #575757;
$hui-header-green: #82c57a;
$hui-legend-grey: #8d8d8d;
$hui-drop-shadow-grey: #575757;
$hui-disabled-grey: #e5e5e5;

$data-series-colors: #82c57a, #9e8694, #307c99;

$hui-error-background: lighten(tomato, 8%);
$hui-input-label-grey: #b3b3b3;
$hui-input-background-grey: #f2f2f2;
$hui-input-text-grey: #b3b3b3;

$hui-primary-grey: #666666;
$hui-primary-green: #00a044;
$hui-primary-border-grey: #b3b3b3;

$hui-medium-grey: #b3b3b3;
$hui-secondary-grey: #f2f2f2;

$hui-rule-grey: #e6e6e6;
$hui-background-dropdown-white: white;
$hui-secondary-hover-grey: #dbdbdb;
$hui-hover-green: #00b44d;

$hui-selected-background-green: lighten($hui-primary-green, 8%);
$hui-hover-inverse-green: lighten($hui-primary-green, 50%);

$hui-tooltip-bg-white: #ffffff;
