$hui-border-green: #00b44d;
$hui-bg-beige: #FBF9F4;
$hui-link-grey: #8e8e8e;
$hui-link-active-green: #109e4d;
$hui-text-grey: #585858;
$hui-border-grey: #bcbec0;

$data-series-colors: #82c57a, #9e8694, #307c99;

$hui-error-background: lighten(tomato, 8%);
$hui-input-label-grey: #b3b3b3;
$hui-input-background-grey: #f2f2f2;
$hui-input-text-grey: #b3b3b3;

$hui-primary-grey: #666666;
