//x-heights
$hui-x-1: 4px;
$hui-x-2: 8px;
$hui-x-3: 12px;
$hui-x-4: 16px;
$hui-x-5: 20px;
$hui-x-6: 24px;
$hui-x-7: 28px;

$hui-x-9: 36px;
$hui-x-10: 40px;

$hui-x-13: 52px;

$hui-x-16: 64px;

$hui-x-19: 76px;

$hui-x-22: 88px;

$hui-x-36: 144px;

$hui-x-48: 192px;

$hui-x-54: 216px;

$hui-x-128: 512px;

$hui-x-144: 576px;

$hui-x-169: 676px;

$hui-x-180: 720px;

$hui-x-229: 916px;

$hui-x-250: 1000px;

$hui-radius-input-border: 5px;

//borders
$hui-border-radius: 2px;

$hui-font-family: 'Lato', helvetica, arial, sans-serif;
