// X-heights
$x-1: 4px;
$x-2: 8px;
$x-3: 12px;
$x-4: 16px;
$x-5: 20px;
$x-6: 24px;
$x-7: 28px;
$x-8: 32px;
$x-9: 36px;
$x-10: 40px;
$x-11: 44px;
$x-12: 48px;
$x-13: 52px;

$x-16: 64px;

$x-18: 72px;
$x-19: 76px;

$x-22: 88px;

$x-36: 144px;

$x-48: 192px;

$x-54: 216px;

$x-128: 512px;

$x-144: 576px;

$x-169: 676px;

$x-180: 720px;

$x-229: 916px;

$x-250: 1000px;

// Borders
$border-radius: 2px;

// Breakpoints
$bp-xxxxs: 220px;
$bp-xxxs: 320px;
$bp-xxs: 420px;
$bp-xs: 520px;
$bp-s: 620px;
$bp-m: 720px;
$bp-l: 820px;
$bp-xl: 920px;
$bp-xxl: 1020px;
$bp-xxxl: 1120px;
$bp-xxxxl: 1220px;

// Typography
$font-copy: 'Lato', helvetica, arial, sans-serif;
$font-headline: 'Amatic SC', 'amatic', lato,helvetica,arial,sans-serif;

// animations
$ease-in-out-slow: all 0.5s cubic-bezier(1, 0, 0, 1);
$ease-in-out-fast: all 0.1s cubic-bezier(1, 0, 0, 1);

// patterns
$striped-pattern: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAInT57czAjjgzjm5ua+YAEYB8RmROaABADjMw8TPzJlGgAAAABJRU5ErkJggg==) //Edit pattern at http://ptrn.it/11Ydzoc
