.hui-UserAuth {
  display: block;
  vertical-align: top;
  right: $x-6;
  position: absolute;
  top: $x-3;
}

.hui-UserAuth__signIn {
  @extend %hui-link;
  vertical-align: middle;
  margin-left: $x-3;
}
