@import "../InputErrors/style";

.hui-TextInput {
  @extend %hui-input-base;
}

.hui-TextInput__label {
  @extend %hui-input-border;
  @extend %hui-input-label;
  z-index: 1;
}

.hui-TextInput__input {
  font-family: $hui-font-family;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: $hui-text-input-text;
  text-transform: none;
  letter-spacing: 0.05em;
  line-height: 27px;
  height: 27px;
  padding-right: 30px;
  position: relative;
}

.hui-TextInput__placeHolder {
  position: absolute;
  top: 22px;
  font-family: $hui-font-family;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: none;
  color: #aaa;
}

.hui-TextInput__input--icon-left {
  padding-right: 0px;
  padding-left: 24px;
}

.hui-TextInput__message {
  transition: all 240ms 80ms ease-out;
  position: relative;
  top: -35px;
  border-radius: 0 0 2px 2px;
  color: $hui-text-input-text;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.05em;
  padding: 4px 8px;
  opacity: 0;
  pointer-events: none;
}

.hui-TextInput__icon {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -12px;
  line-height: 24px;
  font-size: 14px;
}

.hui-TextInput__icon--left {
  left: 8px;
  margin-top: -6px;
}

.hui-TextInput--valid .hui-TextInput__icon {
  color: #7ec774;
}

.hui-TextInput--error .hui-TextInput__label {
  @extend %hui-input-error;
}

.hui-TextInput--error .hui-TextInput__message {
  @extend %error-message;
}

.hui-TextInput--error .hui-TextInput__icon {
  @extend %hui-input-error;
}

.hui-TextInput__iconButton {
  @extend %general-reset;
  @extend %a-reset;
  background: none;
  margin-top: -11px;
}

.hui-TextInput--disabled .hui-TextInput__label {
  @extend %hui-input-disabled;
}

.hui-TextInput--disabled .hui-TextInput__input {
  @extend %hui-input-disabled;
}

.hui-TextInput--focused .hui-TextInput__label {
  @extend %hui-input-focused;
}

.hui-TextInput--focused .hui-TextInput__message {
  @extend %hui-input-focused;
}

@include input-sizes(TextInput);
