@import "../InputErrors/style";

.hui-TextInput {
  @extend %hui-input-base;
}

.hui-TextInput__label {
  @extend %hui-input-border;
  @extend %hui-input-label;
  z-index: 1;
}

.hui-TextInput__input {
  font-family: $font-copy;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: $grey;
  text-transform: none;
  letter-spacing: 0.05em;
  line-height: 27px;
  height: 27px;
  padding-right: 30px;
  position: relative;
}

.hui-TextInput__placeHolder {
  position: absolute;
  top: 22px;
  font-family: $font-copy;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: none;
  color: $grey-light;
}

.hui-TextInput__input--icon-left {
  padding-right: 0px;
  padding-left: $x-6;
}

.hui-TextInput__message {
  transition: all 240ms 80ms ease-out;
  position: relative;
  top: -35px;
  border-radius: 0 0 2px 2px;
  color: $grey;
  font-size: $x-3;
  line-height: $x-3;
  letter-spacing: 0.05em;
  padding: $x-1 $x-2;
  opacity: 0;
  pointer-events: none;
}

.hui-TextInput__icon {
  position: absolute;
  right: $x-2;
  top: 50%;
  margin-top: -12px;
  line-height: $x-6;
  font-size: 14px;
}

.hui-TextInput__icon--left {
  left: $x-2;
  margin-top: -6px;
  right: initial;
}

.hui-TextInput--valid .hui-TextInput__icon {
  color: $green-light;
}

.hui-TextInput--error .hui-TextInput__label {
  @extend %hui-input-error;
}

.hui-TextInput--error .hui-TextInput__message {
  @extend %error-message;
  padding-top: 0;
  padding-bottom: 0;
}

.hui-TextInput--error .hui-TextInput__icon {
  @extend %hui-input-error;
}

.hui-TextInput--disabled .hui-TextInput__label {
  @extend %hui-input-disabled;
}

.hui-TextInput--disabled .hui-TextInput__input {
  @extend %hui-input-disabled;
}

.hui-TextInput--focused .hui-TextInput__label {
  @extend %hui-input-focused;
}

.hui-TextInput--focused .hui-TextInput__message {
  @extend %hui-input-focused;
}

@include input-sizes(TextInput);
