//x-heights
$x-1: 4px
$x-2: 8px
$x-3: 12px
$x-4: 16px
$x-5: 20px
$x-6: 24px
$x-7: 28px
$x-8: 32px
$x-9: 36px
$x-10: 40px
$x-13: 52px

$x-16: 64px

$x-19: 76px

$x-22: 88px

$x-36: 144px

$x-48: 192px

$x-54: 216px

$x-128: 512px

$x-144: 576px

$x-169: 676px

$x-180: 720px

$x-229: 916px

$x-250: 1000px
