<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>HUI (◠‿◠)</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>
  <div id="content">
    <%- content %>
  </div>
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
