@import "sass/colors";
@import "sass/modules/typography";

@import "layout/TopBar/style";
@import "layout/Masthead/style";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: $hui-bg-beige;
  font-family: lato,helvetica,arial,sans-serif;
  font-size: 13px;
}

a, img {
  border: none;
  outline: none;
}
