.hui-Tooltip {
  font-family: $font-copy;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.hui-Tooltip__icon {
  transition: all 160ms ease-out;
  color: $grey-light;
  font-size: 18px;
  opacity: 0.7;
  width: $x-11;
  height: $x-11;
  padding: $x-2;
  line-height: $x-7;
}

.hui-Tooltip--open .hui-Tooltip__icon {
  opacity: 1;
}
