@import "../InputErrors/style";
@import "../TextInput/style";

.hui-UrlInput {
  @extend %hui-input-base;
}

.hui-UrlInput__protocol,
.hui-UrlInput__path {
  display: table-cell;
}

.hui-UrlInput__path {
  padding-left: $x-3;
}

.hui-UrlInput__protocol {
  max-width: $x-9;
  padding-right: $x-3;
}

@include input-sizes(UrlInput);
