.hui-UrlInput {
  display: table;
  width: 100%;
}

.hui-UrlInput__protocol,
.hui-UrlInput__path {
  display: table-cell;
}

.UrlInput__path {
  padding-left: $hui-x-3;
}

.UrlInput__protocol {
  max-width: $hui-x-9;
  padding-right: $hui-x-3;
}
