.hui-OptionListOption {
  display: block;
  text-align: left;
  font-family: $font-copy;
  transition: all 80ms ease-out;
  background-color: #fff;
  padding: 10px 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transform: translateZ(0);
}

.hui-OptionListOption--empty {
  cursor: auto;
}

.hui-OptionListOption--candidate {
  background-color: rgba(126, 199, 116, 0.1);
}

.hui-OptionListOption--selected {
  background-color: rgba(126, 199, 116, 0.2);
}

.hui-OptionListOption__radio-label {
  display: block;
}

.hui-OptionListOption__radio--hidden {
  position: absolute;
  left: -100%;
}
