.hui-Progress {
  width: 100%;
  text-align: center;
  margin-bottom: $x-6;
}

.hui-Progress__item {
  font-size: $x-4;
  padding: $x-2;
  color: $grey-active;

  &:hover {
    color: $green;
  }
}

.hui-Progress__item--active {
  color: $grey-light;
}
