@include input-sizes(FilterSelectDisplay);

.hui-FilterSelectDisplay {
  @extend %hui-input-base;
}

.hui-FilterSelectDisplay__wrap {
  @extend %hui-input-border;
  position: relative;
  padding-right: 25px;
}

.hui-FilterSelectDisplay__label {
  @extend %hui-input-label;

}

.hui-FilterSelectDisplay__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.hui-FilterSelectDisplay__value {
  position: absolute;
  top: 9px;
  left: 0px;
  color: $grey;
  letter-spacing: 0.10em;
  line-height: $x-9 - 1;
  font-size: 15px;
  padding-left: $x-2;
  padding-right: $x-8;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  height: $x-8;
  overflow: hidden;
}

.hui-FilterSelectDisplay__value--no-label {
  top: 0;
  height: auto;
  line-height: $x-10;
}
