.PageContent {
  background-color: white;
  text-align: center;
  padding: $x-22 $x-13 $x-13;
  border-radius: 3px;
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: $x-36 auto $x-13;
}
