.hui-DatePicker {
  position: absolute;
  width: 233px;
  background-color: $hui-background-dropdown-white;
  border: 1px solid $hui-rule-grey;
  border-radius: $hui-border-radius;
  z-index: 5;
  padding: 10px;
}
