.hui-OptionListDisplay {
  display: block;
  text-align: left;
  font-family: $font-copy;
  transition: all 80ms ease-out;
  background-color: #fff;
  padding: 10px 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transform: translateZ(0);
}

.hui-OptionListDisplay--empty {
  cursor: auto;
}

.hui-OptionListDisplay--candidate {
  background-color: rgba(126, 199, 116, 0.1);
}

.hui-OptionListDisplay--selected {
  background-color: rgba(126, 199, 116, 0.2);
}

