.hui-TopBarLink {
  display: inline-block;
  font-size: 11px;
  color: $hui-link-grey;
  margin-right: 16px;
  text-transform: uppercase;
  position: relative;
  top: -8px;

  &:hover {
    color: $hui-link-active-green;
  }
}
