.hui-TopBarLink {
  @extend %general-reset;
  display: inline-block;
  font-size: 11px;
  color: $grey-active;
  margin-right: $x-4;
  text-transform: uppercase;
  position: relative;
  top: -8px;

  &:hover {
    color: $green-active;
  }
}
