@include input-sizes(CountrySelectDisplay);

.hui-CountrySelectDisplay {
  @extend %hui-input-base;
}

.hui-CountrySelectDisplay__wrap {
  @extend %hui-input-border;
  text-align: left;
  cursor: pointer;
  padding-right: 25px;
  padding-left: 12px;
  padding-top: 0;
}

.hui-CountrySelectDisplay__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}


.hui-CountrySelectDisplay__flag-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.hui-CountrySelectDisplay__value {
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
}
