.Legend {
  .LegendItem{
    display: inline-block;
    margin-right: $hui-x-4;

    &:last-child {
      margin-right: 0;
    }

    @for $n from 1 through 3 {
      &:nth-child(#{$n}) {
        .LegendItem__dot {
          background-color: nth($data-series-colors, $n);
        }
      }
    }

    .LegendItemContent {
      display: table;

      .LegendItem__dot {
        display: table-cell;
        border-radius: 50%;
        width: $hui-x-3;
        height: $hui-x-3;
      }
      .LegendItem__label {
        display: table-cell;
        line-height: $hui-x-3;
        padding-left: $hui-x-1;
        font-size: $hui-x-3;
        color: $hui-link-grey;
        text-transform: uppercase;
      }
    }
  }
}
