.hui-Legend {
  @extend %general-reset;
  margin-top: $hui-x-4;
  margin-left: $hui-x-10;
}

.hui-Legend__item{
  display: inline-block;
  margin-right: $hui-x-4;

  &:last-child {
    margin-right: 0;
  }

  @for $n from 1 through length($data-series-colors) {
    &:nth-child(#{$n}) {
      .hui-Legend__dot {
        background-color: nth($data-series-colors, $n);
      }
    }
  }
}

.hui-Legend__content {
  display: table;
}

.hui-Legend__dot {
  display: table-cell;
  border-radius: 50%;
  width: $hui-x-3;
  height: $hui-x-3;
}

.hui-Legend__label {
  display: table-cell;
  line-height: $hui-x-3;
  padding-left: $hui-x-1;
  font-size: 11px;
  color: $hui-link-secondary;
  text-transform: uppercase;
  font-weight: 300;
}

