.hui-YScale__line {
  fill: none;
  stroke: $grey-lighter;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  opacity: 0.5;
  pointer-events: none;
}

.hui-YScale__label {
  font-size: $x-3;
  font-weight: 200;
  transform: translate(0px, $x-1);
}
