.hui-DatePickerPeriod, .hui-DatePickerPeriod--selected {
  padding: $x-1;
  border-radius: $x-1;
  display: inline-block;
  font-family: $font-copy;
}

.hui-DatePickerPeriod--selected {
  background: $green-active;
  color: white;

  &:hover {
    color: $green-lighter;
  }
}
