@import "SingleNumber/style";
@import "Legend/style";
@import "../LineGraph/style";
@import "../DeltaArrow/style";

.hui-DataVisualisation {
  display: table;
  width:  100%;
}

.hui-DataVisualisation__title {
  display: block;
  position: absolute;
  font-size: $hui-x-6;
  color: $hui-header-secondary;
  font-weight: 300;
}

.hui-DataVisualisation__valueGroup {
  text-align: right;
  top: -10px;
  position: relative;
}
