.hui-Step {
  width: 100%;
  min-height: $x-144;
  top: 0px;
  left: 0px;
  background-color: white;
  box-shadow: 1px 1px 6px 2px rgba(219,219,219,1);
  margin-bottom: $x-8;
  text-align: center;
  padding: $x-16;
  color: $grey;
  box-sizing: border-box;
}

@include media-max($bp-xs) {
  .hui-Step {
    min-height: 100%;
  }
}

.Step__header {
  font-family: $font-headline;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 13px;
  letter-spacing: normal;
  line-height: 40px;
}

.Step__description {
  font-size: $x-4;
  padding-bottom: $x-4;
  line-height: 22px;
}

.Step__proof, .Step__proof p {
  font-size: 14px;
  font-style: italic;
  padding-bottom: $x-4;
  line-height: 22px;
}

.Step__proof_value {
  font-weight: bold;
}

