.hui-Step {
  width: 100%;
  min-height: $hui-x-144;
  top: 0px;
  left: 0px;
  background-color: white;
  box-shadow: 1px 1px 6px 2px rgba(219,219,219,1);
  margin-bottom: $hui-x-8;
  text-align: center;
  padding: $hui-x-16;
  color: $hui-text-body;
}

@include media-max($bp-xs) {
  .hui-Step {
    min-height: 100%;
  }
}

.Step__header {
  font-family: $font-headline;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 13px;
}

.Step__description {
  font-size: $hui-x-4;
  padding-bottom: $hui-x-4;
}

.Step__proof {
  font-size: $hui-x-4;
  font-style: italic;
  padding-bottom: $hui-x-4;
}

.Step__proof_value {
  font-weight: bold;
}

