@import "../InputErrors/style";
@import "../TextInput/style";

.hui-TextCountDownInput {
  @extend %hui-input-base;
}

.hui-TextCountDownInput__counter {
  position: absolute;
  color: $grey-lighter;
  right: 31px;
  top: 10px;
  line-height: $x-6;
  font-size: 14px;
  z-index: 3;
}

.hui-TextCountDownInput__counter--maxed {
  color: $error;
}

.hui-TextCountDownInput__counter--warn {
  color: $alert;
}

@include input-sizes(TextCountDownInput);
