.Navigation__link,
.Navigation__dashboardLink {
  display: block;
  width: 100%;
  min-height: $x-9;
  line-height: $x-9;
  padding: 0 $x-7;
  font-weight: 200;
  color: $grey;
  .hui-Icon {
    padding-right: $x-2;
  }
  &:hover {
    color: $green;
  }
  color: lighten($grey, 20%);
  width: 100%;
  min-width: $navigation-width;
  padding-left: 26px;
  transition: $ease-in-out-slow;

  .hui-Icon {
    padding-right: $x-2;
    transition: $ease-in-out-slow;
  }

  &.active {
    background-color: lighten($slate, 15%);
    color: white;
    &:hover {
      color: white;
    }
  }
}

.Navigation--reduce {
  .Navigation__linkText {
    opacity: 0;
    transition: $ease-in-out-slow;
  }

  .Navigation__link,
  .Navigation__dashboardLink {
    .hui-Icon {
      padding-right: $x-7;
    }
  }

  &:hover {
    .Navigation__linkText {
      opacity: 1;
    }
  }
}

.Navigation__dashboardLink {
  // because icon size is increased with font-size
  // paddings are different from the other Navigation__links
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  border-bottom: solid 1px darken($slate, 5%);
  padding-top: $x-4;
  padding-bottom: $x-4;
  padding-left: 22px;

  .hui-Icon {
    font-size: $x-5;
    padding-right: $x-1;
  }
}

.Navigation__linkIcon {
  padding-left: 8px;
  font-size: 9px;
}
