.hui-SocialMediaLinks {
  display: block;
  margin: 0 auto;
  white-space: nowrap;

  a {
    color: inherit;
  }
}

.hui-SocialMediaLinks__link {
  display: inline-block;
  transition: all 160ms ease-out;
  color: inherit;
  font-size: $x-5;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    background-color: white;
  }
  &.facebook:hover {
    color: $facebook;
  }
  &.twitter:hover {
    color: $twitter;
  }
  &.google-plus:hover {
    color: $googleplus;
  }
  &.pinterest:hover {
    color: $pinterest;
  }
  &.instagram:hover {
    color: $instagram;
  }
}
