@import "../InputErrors/style";

.hui-Checkbox {
  margin: 0px 0 $hui-x-4 $hui-x-5
}

.hui-Checkbox__input {
  margin-right: $hui-x-2;
  display: inline-block;
}

label.hui-Checkbox__label {
  cursor: pointer;
}

.hui-Checkbox__label {
  display: inline-block;
  font-size: 13px;
  font-family: $hui-font-family;
  text-transform: uppercase;
  color: $hui-text-input-text;
  top: 1px;
  position: relative;
}

.hui-InputErrors {
  @extend %error-message;
}
