@import "../InputErrors/style";

.hui-Checkbox {
  margin: 0px 0 $x-4 $x-5
}

.hui-Checkbox__input {
  margin-right: $x-2;
  display: inline-block;
}

label.hui-Checkbox__label {
  cursor: pointer;
}

.hui-Checkbox__label {
  display: inline-block;
  font-size: $x-3;
  font-family: $font-copy;
  text-transform: uppercase;
  color: $grey;
  top: 1px;
  position: relative;
}

.hui-Input--error {
  .hui-InputErrors {
    @extend %error-message;
    text-align: left;
    font-family: 'Lato',helvetica,arial,sans-serif;
    font-size: $x-3;
    line-height: $x-3;
    letter-spacing: .05em;
    padding: $x-1 $x-2;
    margin-top: $x-2;
  }
}
