@import "../InputErrors/style";

.hui-Checkbox {
  margin: 13px 0 13px 0;
}

.hui-Checkbox__input {
  margin-right: 8px;
  display: inline-block;
}

label.hui-Checkbox__label {
  cursor: pointer;
}

.hui-Checkbox__label {
  display: inline-block;
  font-size: 13px;
  font-family: $hui-font-family;
  text-transform: uppercase;
  color: $hui-text-input-text;
  top: 1px;
  position: relative;
}
