.hui-Masthead {
  display: inline-block;
  margin-right: $hui-x-9;
}

.hui-Masthead__logo,
.hui-Masthead__logo--desktop,
.hui-Masthead__logo--mobile {
  margin: 17px 0 0 18px;
}

.hui-Masthead__logo--desktop {
  width: 180px;

  @include media-max(720px) {
    display: none;
  }
}

.hui-Masthead__logo--mobile {
  height: 32px;

  @include media(720px) {
    display: none;
  }
}

.hui-Masthead__appName {
  @extend %hui-lato-thin;
  @extend %hui-rule-left;
  font-size: $hui-x-5;
  color: $hui-link-green;
  position: relative;
  top: 20px;
  display: inline-block;
  padding-left: $hui-x-4;
  margin-left: $hui-x-4;
  vertical-align: top;

  @include media-max(460px) {
    display: none;
  }
}
