.hui-Masthead {
  display: inline-block;
  margin-right: $x-9;
}

.hui-Masthead__logo,
.hui-Masthead__logo--desktop,
.hui-Masthead__logo--mobile {
  margin: 17px 0 0 18px;
}

.hui-Masthead__logo--desktop {
  width: 180px;

  @include media-max($bp-m) {
    display: none;
  }
}

.hui-Masthead__logo--mobile {
  height: $x-8;

  @include media($bp-m) {
    display: none;
  }
}

.hui-Masthead__appName {
  @extend %hui-lato-thin;
  @extend %hui-rule-left;
  font-size: $x-5;
  color: $green-dark;
  position: relative;
  top: $x-5;
  display: inline-block;
  padding-left: $x-4;
  margin-left: $x-4;
  vertical-align: top;

  @include media-max(460px) {
    display: none;
  }
}
