%svg-common {
  background: url(../../images/flags_sprite-a33afe25.png) no-repeat;
  background: url(../../images/flags_sprite-a33afe25.svg) no-repeat;
}

.flag-ad {
  @extend %svg-common;
  background-position: 0 0;
}

.flag-ad-dims {
  width: 640px;
  height: 480px;
}

.flag-ae {
  @extend %svg-common;
  background-position: 0 0.4032258064516129%;
}

.flag-ae-dims {
  width: 640px;
  height: 480px;
}

.flag-af {
  @extend %svg-common;
  background-position: 0 0.8064516129032258%;
}

.flag-af-dims {
  width: 640px;
  height: 480px;
}

.flag-ag {
  @extend %svg-common;
  background-position: 0 1.2096774193548387%;
}

.flag-ag-dims {
  width: 640px;
  height: 480px;
}

.flag-ai {
  @extend %svg-common;
  background-position: 0 1.6129032258064515%;
}

.flag-ai-dims {
  width: 640px;
  height: 480px;
}

.flag-al {
  @extend %svg-common;
  background-position: 0 2.0161290322580645%;
}

.flag-al-dims {
  width: 640px;
  height: 480px;
}

.flag-am {
  @extend %svg-common;
  background-position: 0 2.4193548387096775%;
}

.flag-am-dims {
  width: 640px;
  height: 480px;
}

.flag-ao {
  @extend %svg-common;
  background-position: 0 2.8225806451612905%;
}

.flag-ao-dims {
  width: 640px;
  height: 480px;
}

.flag-aq {
  @extend %svg-common;
  background-position: 0 3.225806451612903%;
}

.flag-aq-dims {
  width: 640px;
  height: 480px;
}

.flag-ar {
  @extend %svg-common;
  background-position: 0 3.629032258064516%;
}

.flag-ar-dims {
  width: 640px;
  height: 480px;
}

.flag-as {
  @extend %svg-common;
  background-position: 0 4.032258064516129%;
}

.flag-as-dims {
  width: 640px;
  height: 480px;
}

.flag-at {
  @extend %svg-common;
  background-position: 0 4.435483870967742%;
}

.flag-at-dims {
  width: 640px;
  height: 480px;
}

.flag-au {
  @extend %svg-common;
  background-position: 0 4.838709677419355%;
}

.flag-au-dims {
  width: 640px;
  height: 480px;
}

.flag-aw {
  @extend %svg-common;
  background-position: 0 5.241935483870968%;
}

.flag-aw-dims {
  width: 640px;
  height: 480px;
}

.flag-ax {
  @extend %svg-common;
  background-position: 0 5.645161290322581%;
}

.flag-ax-dims {
  width: 640px;
  height: 480px;
}

.flag-az {
  @extend %svg-common;
  background-position: 0 6.048387096774194%;
}

.flag-az-dims {
  width: 640px;
  height: 480px;
}

.flag-ba {
  @extend %svg-common;
  background-position: 0 6.451612903225806%;
}

.flag-ba-dims {
  width: 640px;
  height: 480px;
}

.flag-bb {
  @extend %svg-common;
  background-position: 0 6.854838709677419%;
}

.flag-bb-dims {
  width: 640px;
  height: 480px;
}

.flag-bd {
  @extend %svg-common;
  background-position: 0 7.258064516129032%;
}

.flag-bd-dims {
  width: 640px;
  height: 480px;
}

.flag-be {
  @extend %svg-common;
  background-position: 0 7.661290322580645%;
}

.flag-be-dims {
  width: 640px;
  height: 480px;
}

.flag-bf {
  @extend %svg-common;
  background-position: 0 8.064516129032258%;
}

.flag-bf-dims {
  width: 640px;
  height: 480px;
}

.flag-bg {
  @extend %svg-common;
  background-position: 0 8.46774193548387%;
}

.flag-bg-dims {
  width: 640px;
  height: 480px;
}

.flag-bh {
  @extend %svg-common;
  background-position: 0 8.870967741935484%;
}

.flag-bh-dims {
  width: 640px;
  height: 480px;
}

.flag-bi {
  @extend %svg-common;
  background-position: 0 9.274193548387096%;
}

.flag-bi-dims {
  width: 640px;
  height: 480px;
}

.flag-bj {
  @extend %svg-common;
  background-position: 0 9.67741935483871%;
}

.flag-bj-dims {
  width: 640px;
  height: 480px;
}

.flag-bl {
  @extend %svg-common;
  background-position: 0 10.080645161290322%;
}

.flag-bl-dims {
  width: 640px;
  height: 480px;
}

.flag-bm {
  @extend %svg-common;
  background-position: 0 10.483870967741936%;
}

.flag-bm-dims {
  width: 640px;
  height: 480px;
}

.flag-bn {
  @extend %svg-common;
  background-position: 0 10.887096774193548%;
}

.flag-bn-dims {
  width: 640px;
  height: 480px;
}

.flag-bo {
  @extend %svg-common;
  background-position: 0 11.290322580645162%;
}

.flag-bo-dims {
  width: 640px;
  height: 480px;
}

.flag-bq {
  @extend %svg-common;
  background-position: 0 11.693548387096774%;
}

.flag-bq-dims {
  width: 640px;
  height: 480px;
}

.flag-br {
  @extend %svg-common;
  background-position: 0 12.096774193548388%;
}

.flag-br-dims {
  width: 640px;
  height: 480px;
}

.flag-bs {
  @extend %svg-common;
  background-position: 0 12.5%;
}

.flag-bs-dims {
  width: 640px;
  height: 480px;
}

.flag-bt {
  @extend %svg-common;
  background-position: 0 12.903225806451612%;
}

.flag-bt-dims {
  width: 640px;
  height: 480px;
}

.flag-bv {
  @extend %svg-common;
  background-position: 0 13.306451612903226%;
}

.flag-bv-dims {
  width: 640px;
  height: 480px;
}

.flag-bw {
  @extend %svg-common;
  background-position: 0 13.709677419354838%;
}

.flag-bw-dims {
  width: 640px;
  height: 480px;
}

.flag-by {
  @extend %svg-common;
  background-position: 0 14.112903225806452%;
}

.flag-by-dims {
  width: 640px;
  height: 480px;
}

.flag-bz {
  @extend %svg-common;
  background-position: 0 14.516129032258064%;
}

.flag-bz-dims {
  width: 640px;
  height: 480px;
}

.flag-ca {
  @extend %svg-common;
  background-position: 0 14.919354838709678%;
}

.flag-ca-dims {
  width: 640px;
  height: 480px;
}

.flag-cc {
  @extend %svg-common;
  background-position: 0 15.32258064516129%;
}

.flag-cc-dims {
  width: 640px;
  height: 480px;
}

.flag-cd {
  @extend %svg-common;
  background-position: 0 15.725806451612904%;
}

.flag-cd-dims {
  width: 640px;
  height: 480px;
}

.flag-cf {
  @extend %svg-common;
  background-position: 0 16.129032258064516%;
}

.flag-cf-dims {
  width: 640px;
  height: 480px;
}

.flag-cg {
  @extend %svg-common;
  background-position: 0 16.532258064516128%;
}

.flag-cg-dims {
  width: 640px;
  height: 480px;
}

.flag-ch {
  @extend %svg-common;
  background-position: 0 16.93548387096774%;
}

.flag-ch-dims {
  width: 640px;
  height: 480px;
}

.flag-ci {
  @extend %svg-common;
  background-position: 0 17.338709677419356%;
}

.flag-ci-dims {
  width: 640px;
  height: 480px;
}

.flag-ck {
  @extend %svg-common;
  background-position: 0 17.741935483870968%;
}

.flag-ck-dims {
  width: 640px;
  height: 480px;
}

.flag-cl {
  @extend %svg-common;
  background-position: 0 18.14516129032258%;
}

.flag-cl-dims {
  width: 640px;
  height: 480px;
}

.flag-cm {
  @extend %svg-common;
  background-position: 0 18.548387096774192%;
}

.flag-cm-dims {
  width: 640px;
  height: 480px;
}

.flag-cn {
  @extend %svg-common;
  background-position: 0 18.951612903225808%;
}

.flag-cn-dims {
  width: 640px;
  height: 480px;
}

.flag-co {
  @extend %svg-common;
  background-position: 0 19.35483870967742%;
}

.flag-co-dims {
  width: 640px;
  height: 480px;
}

.flag-cr {
  @extend %svg-common;
  background-position: 0 19.758064516129032%;
}

.flag-cr-dims {
  width: 640px;
  height: 480px;
}

.flag-cu {
  @extend %svg-common;
  background-position: 0 20.161290322580644%;
}

.flag-cu-dims {
  width: 640px;
  height: 480px;
}

.flag-cv {
  @extend %svg-common;
  background-position: 0 20.56451612903226%;
}

.flag-cv-dims {
  width: 640px;
  height: 480px;
}

.flag-cw {
  @extend %svg-common;
  background-position: 0 20.967741935483872%;
}

.flag-cw-dims {
  width: 640px;
  height: 480px;
}

.flag-cx {
  @extend %svg-common;
  background-position: 0 21.370967741935484%;
}

.flag-cx-dims {
  width: 640px;
  height: 480px;
}

.flag-cy {
  @extend %svg-common;
  background-position: 0 21.774193548387096%;
}

.flag-cy-dims {
  width: 640px;
  height: 480px;
}

.flag-cz {
  @extend %svg-common;
  background-position: 0 22.177419354838708%;
}

.flag-cz-dims {
  width: 640px;
  height: 480px;
}

.flag-de {
  @extend %svg-common;
  background-position: 0 22.580645161290324%;
}

.flag-de-dims {
  width: 640px;
  height: 480px;
}

.flag-dj {
  @extend %svg-common;
  background-position: 0 22.983870967741936%;
}

.flag-dj-dims {
  width: 640px;
  height: 480px;
}

.flag-dk {
  @extend %svg-common;
  background-position: 0 23.387096774193548%;
}

.flag-dk-dims {
  width: 640px;
  height: 480px;
}

.flag-dm {
  @extend %svg-common;
  background-position: 0 23.79032258064516%;
}

.flag-dm-dims {
  width: 640px;
  height: 480px;
}

.flag-do {
  @extend %svg-common;
  background-position: 0 24.193548387096776%;
}

.flag-do-dims {
  width: 640px;
  height: 480px;
}

.flag-dz {
  @extend %svg-common;
  background-position: 0 24.596774193548388%;
}

.flag-dz-dims {
  width: 640px;
  height: 480px;
}

.flag-ec {
  @extend %svg-common;
  background-position: 0 25%;
}

.flag-ec-dims {
  width: 640px;
  height: 480px;
}

.flag-ee {
  @extend %svg-common;
  background-position: 0 25.403225806451612%;
}

.flag-ee-dims {
  width: 640px;
  height: 480px;
}

.flag-eg {
  @extend %svg-common;
  background-position: 0 25.806451612903224%;
}

.flag-eg-dims {
  width: 640px;
  height: 480px;
}

.flag-eh {
  @extend %svg-common;
  background-position: 0 26.20967741935484%;
}

.flag-eh-dims {
  width: 640px;
  height: 480px;
}

.flag-er {
  @extend %svg-common;
  background-position: 0 26.612903225806452%;
}

.flag-er-dims {
  width: 640px;
  height: 480px;
}

.flag-es {
  @extend %svg-common;
  background-position: 0 27.016129032258064%;
}

.flag-es-dims {
  width: 640px;
  height: 480px;
}

.flag-et {
  @extend %svg-common;
  background-position: 0 27.419354838709676%;
}

.flag-et-dims {
  width: 640px;
  height: 480px;
}

.flag-fi {
  @extend %svg-common;
  background-position: 0 27.822580645161292%;
}

.flag-fi-dims {
  width: 640px;
  height: 480px;
}

.flag-fj {
  @extend %svg-common;
  background-position: 0 28.225806451612904%;
}

.flag-fj-dims {
  width: 640px;
  height: 480px;
}

.flag-fk {
  @extend %svg-common;
  background-position: 0 28.629032258064516%;
}

.flag-fk-dims {
  width: 640px;
  height: 480px;
}

.flag-fm {
  @extend %svg-common;
  background-position: 0 29.032258064516128%;
}

.flag-fm-dims {
  width: 640px;
  height: 480px;
}

.flag-fo {
  @extend %svg-common;
  background-position: 0 29.43548387096774%;
}

.flag-fo-dims {
  width: 640px;
  height: 480px;
}

.flag-fr {
  @extend %svg-common;
  background-position: 0 29.838709677419356%;
}

.flag-fr-dims {
  width: 640px;
  height: 480px;
}

.flag-ga {
  @extend %svg-common;
  background-position: 0 30.241935483870968%;
}

.flag-ga-dims {
  width: 640px;
  height: 480px;
}

.flag-gb {
  @extend %svg-common;
  background-position: 0 30.64516129032258%;
}

.flag-gb-dims {
  width: 640px;
  height: 480px;
}

.flag-gd {
  @extend %svg-common;
  background-position: 0 31.048387096774192%;
}

.flag-gd-dims {
  width: 640px;
  height: 480px;
}

.flag-ge {
  @extend %svg-common;
  background-position: 0 31.451612903225808%;
}

.flag-ge-dims {
  width: 640px;
  height: 480px;
}

.flag-gf {
  @extend %svg-common;
  background-position: 0 31.85483870967742%;
}

.flag-gf-dims {
  width: 640px;
  height: 480px;
}

.flag-gg {
  @extend %svg-common;
  background-position: 0 32.25806451612903%;
}

.flag-gg-dims {
  width: 640px;
  height: 480px;
}

.flag-gh {
  @extend %svg-common;
  background-position: 0 32.66129032258065%;
}

.flag-gh-dims {
  width: 640px;
  height: 480px;
}

.flag-gi {
  @extend %svg-common;
  background-position: 0 33.064516129032256%;
}

.flag-gi-dims {
  width: 640px;
  height: 480px;
}

.flag-gl {
  @extend %svg-common;
  background-position: 0 33.46774193548387%;
}

.flag-gl-dims {
  width: 640px;
  height: 480px;
}

.flag-gm {
  @extend %svg-common;
  background-position: 0 33.87096774193548%;
}

.flag-gm-dims {
  width: 640px;
  height: 480px;
}

.flag-gn {
  @extend %svg-common;
  background-position: 0 34.274193548387096%;
}

.flag-gn-dims {
  width: 640px;
  height: 480px;
}

.flag-gp {
  @extend %svg-common;
  background-position: 0 34.67741935483871%;
}

.flag-gp-dims {
  width: 640px;
  height: 480px;
}

.flag-gq {
  @extend %svg-common;
  background-position: 0 35.08064516129032%;
}

.flag-gq-dims {
  width: 640px;
  height: 480px;
}

.flag-gr {
  @extend %svg-common;
  background-position: 0 35.483870967741936%;
}

.flag-gr-dims {
  width: 640px;
  height: 480px;
}

.flag-gs {
  @extend %svg-common;
  background-position: 0 35.88709677419355%;
}

.flag-gs-dims {
  width: 640px;
  height: 480px;
}

.flag-gt {
  @extend %svg-common;
  background-position: 0 36.29032258064516%;
}

.flag-gt-dims {
  width: 640px;
  height: 480px;
}

.flag-gu {
  @extend %svg-common;
  background-position: 0 36.693548387096776%;
}

.flag-gu-dims {
  width: 640px;
  height: 480px;
}

.flag-gw {
  @extend %svg-common;
  background-position: 0 37.096774193548384%;
}

.flag-gw-dims {
  width: 640px;
  height: 480px;
}

.flag-gy {
  @extend %svg-common;
  background-position: 0 37.5%;
}

.flag-gy-dims {
  width: 640px;
  height: 480px;
}

.flag-hk {
  @extend %svg-common;
  background-position: 0 37.903225806451616%;
}

.flag-hk-dims {
  width: 640px;
  height: 480px;
}

.flag-hm {
  @extend %svg-common;
  background-position: 0 38.306451612903224%;
}

.flag-hm-dims {
  width: 640px;
  height: 480px;
}

.flag-hn {
  @extend %svg-common;
  background-position: 0 38.70967741935484%;
}

.flag-hn-dims {
  width: 640px;
  height: 480px;
}

.flag-hr {
  @extend %svg-common;
  background-position: 0 39.11290322580645%;
}

.flag-hr-dims {
  width: 640px;
  height: 480px;
}

.flag-ht {
  @extend %svg-common;
  background-position: 0 39.516129032258064%;
}

.flag-ht-dims {
  width: 640px;
  height: 480px;
}

.flag-hu {
  @extend %svg-common;
  background-position: 0 39.91935483870968%;
}

.flag-hu-dims {
  width: 640px;
  height: 480px;
}

.flag-id {
  @extend %svg-common;
  background-position: 0 40.32258064516129%;
}

.flag-id-dims {
  width: 640px;
  height: 480px;
}

.flag-ie {
  @extend %svg-common;
  background-position: 0 40.725806451612904%;
}

.flag-ie-dims {
  width: 640px;
  height: 480px;
}

.flag-il {
  @extend %svg-common;
  background-position: 0 41.12903225806452%;
}

.flag-il-dims {
  width: 640px;
  height: 480px;
}

.flag-im {
  @extend %svg-common;
  background-position: 0 41.53225806451613%;
}

.flag-im-dims {
  width: 640px;
  height: 480px;
}

.flag-in {
  @extend %svg-common;
  background-position: 0 41.935483870967744%;
}

.flag-in-dims {
  width: 640px;
  height: 480px;
}

.flag-io {
  @extend %svg-common;
  background-position: 0 42.33870967741935%;
}

.flag-io-dims {
  width: 640px;
  height: 480px;
}

.flag-iq {
  @extend %svg-common;
  background-position: 0 42.74193548387097%;
}

.flag-iq-dims {
  width: 640px;
  height: 480px;
}

.flag-ir {
  @extend %svg-common;
  background-position: 0 43.145161290322584%;
}

.flag-ir-dims {
  width: 640px;
  height: 480px;
}

.flag-is {
  @extend %svg-common;
  background-position: 0 43.54838709677419%;
}

.flag-is-dims {
  width: 640px;
  height: 480px;
}

.flag-it {
  @extend %svg-common;
  background-position: 0 43.95161290322581%;
}

.flag-it-dims {
  width: 640px;
  height: 480px;
}

.flag-je {
  @extend %svg-common;
  background-position: 0 44.354838709677416%;
}

.flag-je-dims {
  width: 640px;
  height: 480px;
}

.flag-jm {
  @extend %svg-common;
  background-position: 0 44.75806451612903%;
}

.flag-jm-dims {
  width: 640px;
  height: 480px;
}

.flag-jo {
  @extend %svg-common;
  background-position: 0 45.16129032258065%;
}

.flag-jo-dims {
  width: 640px;
  height: 480px;
}

.flag-jp {
  @extend %svg-common;
  background-position: 0 45.564516129032256%;
}

.flag-jp-dims {
  width: 640px;
  height: 480px;
}

.flag-ke {
  @extend %svg-common;
  background-position: 0 45.96774193548387%;
}

.flag-ke-dims {
  width: 640px;
  height: 480px;
}

.flag-kg {
  @extend %svg-common;
  background-position: 0 46.37096774193548%;
}

.flag-kg-dims {
  width: 640px;
  height: 480px;
}

.flag-kh {
  @extend %svg-common;
  background-position: 0 46.774193548387096%;
}

.flag-kh-dims {
  width: 640px;
  height: 480px;
}

.flag-ki {
  @extend %svg-common;
  background-position: 0 47.17741935483871%;
}

.flag-ki-dims {
  width: 640px;
  height: 480px;
}

.flag-km {
  @extend %svg-common;
  background-position: 0 47.58064516129032%;
}

.flag-km-dims {
  width: 640px;
  height: 480px;
}

.flag-kn {
  @extend %svg-common;
  background-position: 0 47.983870967741936%;
}

.flag-kn-dims {
  width: 640px;
  height: 480px;
}

.flag-kp {
  @extend %svg-common;
  background-position: 0 48.38709677419355%;
}

.flag-kp-dims {
  width: 640px;
  height: 480px;
}

.flag-kr {
  @extend %svg-common;
  background-position: 0 48.79032258064516%;
}

.flag-kr-dims {
  width: 640px;
  height: 480px;
}

.flag-kw {
  @extend %svg-common;
  background-position: 0 49.193548387096776%;
}

.flag-kw-dims {
  width: 640px;
  height: 480px;
}

.flag-ky {
  @extend %svg-common;
  background-position: 0 49.596774193548384%;
}

.flag-ky-dims {
  width: 640px;
  height: 480px;
}

.flag-kz {
  @extend %svg-common;
  background-position: 0 50%;
}

.flag-kz-dims {
  width: 640px;
  height: 480px;
}

.flag-la {
  @extend %svg-common;
  background-position: 0 50.403225806451616%;
}

.flag-la-dims {
  width: 640px;
  height: 480px;
}

.flag-lb {
  @extend %svg-common;
  background-position: 0 50.806451612903224%;
}

.flag-lb-dims {
  width: 640px;
  height: 480px;
}

.flag-lc {
  @extend %svg-common;
  background-position: 0 51.20967741935484%;
}

.flag-lc-dims {
  width: 640px;
  height: 480px;
}

.flag-li {
  @extend %svg-common;
  background-position: 0 51.61290322580645%;
}

.flag-li-dims {
  width: 640px;
  height: 480px;
}

.flag-lk {
  @extend %svg-common;
  background-position: 0 52.016129032258064%;
}

.flag-lk-dims {
  width: 640px;
  height: 480px;
}

.flag-lr {
  @extend %svg-common;
  background-position: 0 52.41935483870968%;
}

.flag-lr-dims {
  width: 640px;
  height: 480px;
}

.flag-ls {
  @extend %svg-common;
  background-position: 0 52.82258064516129%;
}

.flag-ls-dims {
  width: 640px;
  height: 480px;
}

.flag-lt {
  @extend %svg-common;
  background-position: 0 53.225806451612904%;
}

.flag-lt-dims {
  width: 640px;
  height: 480px;
}

.flag-lu {
  @extend %svg-common;
  background-position: 0 53.62903225806452%;
}

.flag-lu-dims {
  width: 640px;
  height: 480px;
}

.flag-lv {
  @extend %svg-common;
  background-position: 0 54.03225806451613%;
}

.flag-lv-dims {
  width: 640px;
  height: 480px;
}

.flag-ly {
  @extend %svg-common;
  background-position: 0 54.435483870967744%;
}

.flag-ly-dims {
  width: 640px;
  height: 480px;
}

.flag-ma {
  @extend %svg-common;
  background-position: 0 54.83870967741935%;
}

.flag-ma-dims {
  width: 640px;
  height: 480px;
}

.flag-mc {
  @extend %svg-common;
  background-position: 0 55.24193548387097%;
}

.flag-mc-dims {
  width: 640px;
  height: 480px;
}

.flag-md {
  @extend %svg-common;
  background-position: 0 55.645161290322584%;
}

.flag-md-dims {
  width: 640px;
  height: 480px;
}

.flag-me {
  @extend %svg-common;
  background-position: 0 56.04838709677419%;
}

.flag-me-dims {
  width: 640px;
  height: 480px;
}

.flag-mf {
  @extend %svg-common;
  background-position: 0 56.45161290322581%;
}

.flag-mf-dims {
  width: 640px;
  height: 480px;
}

.flag-mg {
  @extend %svg-common;
  background-position: 0 56.854838709677416%;
}

.flag-mg-dims {
  width: 640px;
  height: 480px;
}

.flag-mh {
  @extend %svg-common;
  background-position: 0 57.25806451612903%;
}

.flag-mh-dims {
  width: 640px;
  height: 480px;
}

.flag-mk {
  @extend %svg-common;
  background-position: 0 57.66129032258065%;
}

.flag-mk-dims {
  width: 640px;
  height: 480px;
}

.flag-ml {
  @extend %svg-common;
  background-position: 0 58.064516129032256%;
}

.flag-ml-dims {
  width: 640px;
  height: 480px;
}

.flag-mm {
  @extend %svg-common;
  background-position: 0 58.46774193548387%;
}

.flag-mm-dims {
  width: 640px;
  height: 480px;
}

.flag-mn {
  @extend %svg-common;
  background-position: 0 58.87096774193548%;
}

.flag-mn-dims {
  width: 640px;
  height: 480px;
}

.flag-mo {
  @extend %svg-common;
  background-position: 0 59.274193548387096%;
}

.flag-mo-dims {
  width: 640px;
  height: 480px;
}

.flag-mp {
  @extend %svg-common;
  background-position: 0 59.67741935483871%;
}

.flag-mp-dims {
  width: 640px;
  height: 480px;
}

.flag-mq {
  @extend %svg-common;
  background-position: 0 60.08064516129032%;
}

.flag-mq-dims {
  width: 640px;
  height: 480px;
}

.flag-mr {
  @extend %svg-common;
  background-position: 0 60.483870967741936%;
}

.flag-mr-dims {
  width: 640px;
  height: 480px;
}

.flag-ms {
  @extend %svg-common;
  background-position: 0 60.88709677419355%;
}

.flag-ms-dims {
  width: 640px;
  height: 480px;
}

.flag-mt {
  @extend %svg-common;
  background-position: 0 61.29032258064516%;
}

.flag-mt-dims {
  width: 640px;
  height: 480px;
}

.flag-mu {
  @extend %svg-common;
  background-position: 0 61.693548387096776%;
}

.flag-mu-dims {
  width: 640px;
  height: 480px;
}

.flag-mv {
  @extend %svg-common;
  background-position: 0 62.096774193548384%;
}

.flag-mv-dims {
  width: 640px;
  height: 480px;
}

.flag-mw {
  @extend %svg-common;
  background-position: 0 62.5%;
}

.flag-mw-dims {
  width: 640px;
  height: 480px;
}

.flag-mx {
  @extend %svg-common;
  background-position: 0 62.903225806451616%;
}

.flag-mx-dims {
  width: 640px;
  height: 480px;
}

.flag-my {
  @extend %svg-common;
  background-position: 0 63.306451612903224%;
}

.flag-my-dims {
  width: 640px;
  height: 480px;
}

.flag-mz {
  @extend %svg-common;
  background-position: 0 63.70967741935484%;
}

.flag-mz-dims {
  width: 640px;
  height: 480px;
}

.flag-na {
  @extend %svg-common;
  background-position: 0 64.11290322580645%;
}

.flag-na-dims {
  width: 640px;
  height: 480px;
}

.flag-nc {
  @extend %svg-common;
  background-position: 0 64.51612903225806%;
}

.flag-nc-dims {
  width: 640px;
  height: 480px;
}

.flag-ne {
  @extend %svg-common;
  background-position: 0 64.91935483870968%;
}

.flag-ne-dims {
  width: 640px;
  height: 480px;
}

.flag-nf {
  @extend %svg-common;
  background-position: 0 65.3225806451613%;
}

.flag-nf-dims {
  width: 640px;
  height: 480px;
}

.flag-ng {
  @extend %svg-common;
  background-position: 0 65.7258064516129%;
}

.flag-ng-dims {
  width: 640px;
  height: 480px;
}

.flag-ni {
  @extend %svg-common;
  background-position: 0 66.12903225806451%;
}

.flag-ni-dims {
  width: 640px;
  height: 480px;
}

.flag-nl {
  @extend %svg-common;
  background-position: 0 66.53225806451613%;
}

.flag-nl-dims {
  width: 640px;
  height: 480px;
}

.flag-no {
  @extend %svg-common;
  background-position: 0 66.93548387096774%;
}

.flag-no-dims {
  width: 640px;
  height: 480px;
}

.flag-np {
  @extend %svg-common;
  background-position: 0 67.33870967741936%;
}

.flag-np-dims {
  width: 640px;
  height: 480px;
}

.flag-nr {
  @extend %svg-common;
  background-position: 0 67.74193548387096%;
}

.flag-nr-dims {
  width: 640px;
  height: 480px;
}

.flag-nu {
  @extend %svg-common;
  background-position: 0 68.14516129032258%;
}

.flag-nu-dims {
  width: 640px;
  height: 480px;
}

.flag-nz {
  @extend %svg-common;
  background-position: 0 68.54838709677419%;
}

.flag-nz-dims {
  width: 640px;
  height: 480px;
}

.flag-om {
  @extend %svg-common;
  background-position: 0 68.95161290322581%;
}

.flag-om-dims {
  width: 640px;
  height: 480px;
}

.flag-pa {
  @extend %svg-common;
  background-position: 0 69.35483870967742%;
}

.flag-pa-dims {
  width: 640px;
  height: 480px;
}

.flag-pe {
  @extend %svg-common;
  background-position: 0 69.75806451612904%;
}

.flag-pe-dims {
  width: 640px;
  height: 480px;
}

.flag-pf {
  @extend %svg-common;
  background-position: 0 70.16129032258064%;
}

.flag-pf-dims {
  width: 640px;
  height: 480px;
}

.flag-pg {
  @extend %svg-common;
  background-position: 0 70.56451612903226%;
}

.flag-pg-dims {
  width: 640px;
  height: 480px;
}

.flag-ph {
  @extend %svg-common;
  background-position: 0 70.96774193548387%;
}

.flag-ph-dims {
  width: 640px;
  height: 480px;
}

.flag-pk {
  @extend %svg-common;
  background-position: 0 71.37096774193549%;
}

.flag-pk-dims {
  width: 640px;
  height: 480px;
}

.flag-pl {
  @extend %svg-common;
  background-position: 0 71.7741935483871%;
}

.flag-pl-dims {
  width: 640px;
  height: 480px;
}

.flag-pm {
  @extend %svg-common;
  background-position: 0 72.1774193548387%;
}

.flag-pm-dims {
  width: 640px;
  height: 480px;
}

.flag-pn {
  @extend %svg-common;
  background-position: 0 72.58064516129032%;
}

.flag-pn-dims {
  width: 640px;
  height: 480px;
}

.flag-pr {
  @extend %svg-common;
  background-position: 0 72.98387096774194%;
}

.flag-pr-dims {
  width: 640px;
  height: 480px;
}

.flag-ps {
  @extend %svg-common;
  background-position: 0 73.38709677419355%;
}

.flag-ps-dims {
  width: 640px;
  height: 480px;
}

.flag-pt {
  @extend %svg-common;
  background-position: 0 73.79032258064517%;
}

.flag-pt-dims {
  width: 640px;
  height: 480px;
}

.flag-pw {
  @extend %svg-common;
  background-position: 0 74.19354838709677%;
}

.flag-pw-dims {
  width: 640px;
  height: 480px;
}

.flag-py {
  @extend %svg-common;
  background-position: 0 74.59677419354838%;
}

.flag-py-dims {
  width: 640px;
  height: 480px;
}

.flag-qa {
  @extend %svg-common;
  background-position: 0 75%;
}

.flag-qa-dims {
  width: 640px;
  height: 480px;
}

.flag-re {
  @extend %svg-common;
  background-position: 0 75.40322580645162%;
}

.flag-re-dims {
  width: 640px;
  height: 480px;
}

.flag-ro {
  @extend %svg-common;
  background-position: 0 75.80645161290323%;
}

.flag-ro-dims {
  width: 640px;
  height: 480px;
}

.flag-rs {
  @extend %svg-common;
  background-position: 0 76.20967741935483%;
}

.flag-rs-dims {
  width: 640px;
  height: 480px;
}

.flag-ru {
  @extend %svg-common;
  background-position: 0 76.61290322580645%;
}

.flag-ru-dims {
  width: 640px;
  height: 480px;
}

.flag-rw {
  @extend %svg-common;
  background-position: 0 77.01612903225806%;
}

.flag-rw-dims {
  width: 640px;
  height: 480px;
}

.flag-sa {
  @extend %svg-common;
  background-position: 0 77.41935483870968%;
}

.flag-sa-dims {
  width: 640px;
  height: 480px;
}

.flag-sb {
  @extend %svg-common;
  background-position: 0 77.8225806451613%;
}

.flag-sb-dims {
  width: 640px;
  height: 480px;
}

.flag-sc {
  @extend %svg-common;
  background-position: 0 78.2258064516129%;
}

.flag-sc-dims {
  width: 640px;
  height: 480px;
}

.flag-sd {
  @extend %svg-common;
  background-position: 0 78.62903225806451%;
}

.flag-sd-dims {
  width: 640px;
  height: 480px;
}

.flag-se {
  @extend %svg-common;
  background-position: 0 79.03225806451613%;
}

.flag-se-dims {
  width: 640px;
  height: 480px;
}

.flag-sg {
  @extend %svg-common;
  background-position: 0 79.43548387096774%;
}

.flag-sg-dims {
  width: 640px;
  height: 480px;
}

.flag-sh {
  @extend %svg-common;
  background-position: 0 79.83870967741936%;
}

.flag-sh-dims {
  width: 640px;
  height: 480px;
}

.flag-si {
  @extend %svg-common;
  background-position: 0 80.24193548387096%;
}

.flag-si-dims {
  width: 640px;
  height: 480px;
}

.flag-sj {
  @extend %svg-common;
  background-position: 0 80.64516129032258%;
}

.flag-sj-dims {
  width: 640px;
  height: 480px;
}

.flag-sk {
  @extend %svg-common;
  background-position: 0 81.04838709677419%;
}

.flag-sk-dims {
  width: 640px;
  height: 480px;
}

.flag-sl {
  @extend %svg-common;
  background-position: 0 81.45161290322581%;
}

.flag-sl-dims {
  width: 640px;
  height: 480px;
}

.flag-sm {
  @extend %svg-common;
  background-position: 0 81.85483870967742%;
}

.flag-sm-dims {
  width: 640px;
  height: 480px;
}

.flag-sn {
  @extend %svg-common;
  background-position: 0 82.25806451612904%;
}

.flag-sn-dims {
  width: 640px;
  height: 480px;
}

.flag-so {
  @extend %svg-common;
  background-position: 0 82.66129032258064%;
}

.flag-so-dims {
  width: 640px;
  height: 480px;
}

.flag-sr {
  @extend %svg-common;
  background-position: 0 83.06451612903226%;
}

.flag-sr-dims {
  width: 640px;
  height: 480px;
}

.flag-ss {
  @extend %svg-common;
  background-position: 0 83.46774193548387%;
}

.flag-ss-dims {
  width: 640px;
  height: 480px;
}

.flag-st {
  @extend %svg-common;
  background-position: 0 83.87096774193549%;
}

.flag-st-dims {
  width: 640px;
  height: 480px;
}

.flag-sv {
  @extend %svg-common;
  background-position: 0 84.2741935483871%;
}

.flag-sv-dims {
  width: 640px;
  height: 480px;
}

.flag-sx {
  @extend %svg-common;
  background-position: 0 84.6774193548387%;
}

.flag-sx-dims {
  width: 640px;
  height: 480px;
}

.flag-sy {
  @extend %svg-common;
  background-position: 0 85.08064516129032%;
}

.flag-sy-dims {
  width: 640px;
  height: 480px;
}

.flag-sz {
  @extend %svg-common;
  background-position: 0 85.48387096774194%;
}

.flag-sz-dims {
  width: 640px;
  height: 480px;
}

.flag-tc {
  @extend %svg-common;
  background-position: 0 85.88709677419355%;
}

.flag-tc-dims {
  width: 640px;
  height: 480px;
}

.flag-td {
  @extend %svg-common;
  background-position: 0 86.29032258064517%;
}

.flag-td-dims {
  width: 640px;
  height: 480px;
}

.flag-tf {
  @extend %svg-common;
  background-position: 0 86.69354838709677%;
}

.flag-tf-dims {
  width: 640px;
  height: 480px;
}

.flag-tg {
  @extend %svg-common;
  background-position: 0 87.09677419354838%;
}

.flag-tg-dims {
  width: 640px;
  height: 480px;
}

.flag-th {
  @extend %svg-common;
  background-position: 0 87.5%;
}

.flag-th-dims {
  width: 640px;
  height: 480px;
}

.flag-tj {
  @extend %svg-common;
  background-position: 0 87.90322580645162%;
}

.flag-tj-dims {
  width: 640px;
  height: 480px;
}

.flag-tk {
  @extend %svg-common;
  background-position: 0 88.30645161290323%;
}

.flag-tk-dims {
  width: 640px;
  height: 480px;
}

.flag-tl {
  @extend %svg-common;
  background-position: 0 88.70967741935483%;
}

.flag-tl-dims {
  width: 640px;
  height: 480px;
}

.flag-tm {
  @extend %svg-common;
  background-position: 0 89.11290322580645%;
}

.flag-tm-dims {
  width: 640px;
  height: 480px;
}

.flag-tn {
  @extend %svg-common;
  background-position: 0 89.51612903225806%;
}

.flag-tn-dims {
  width: 640px;
  height: 480px;
}

.flag-to {
  @extend %svg-common;
  background-position: 0 89.91935483870968%;
}

.flag-to-dims {
  width: 640px;
  height: 480px;
}

.flag-tr {
  @extend %svg-common;
  background-position: 0 90.3225806451613%;
}

.flag-tr-dims {
  width: 640px;
  height: 480px;
}

.flag-tt {
  @extend %svg-common;
  background-position: 0 90.7258064516129%;
}

.flag-tt-dims {
  width: 640px;
  height: 480px;
}

.flag-tv {
  @extend %svg-common;
  background-position: 0 91.12903225806451%;
}

.flag-tv-dims {
  width: 640px;
  height: 480px;
}

.flag-tw {
  @extend %svg-common;
  background-position: 0 91.53225806451613%;
}

.flag-tw-dims {
  width: 640px;
  height: 480px;
}

.flag-tz {
  @extend %svg-common;
  background-position: 0 91.93548387096774%;
}

.flag-tz-dims {
  width: 640px;
  height: 480px;
}

.flag-ua {
  @extend %svg-common;
  background-position: 0 92.33870967741936%;
}

.flag-ua-dims {
  width: 640px;
  height: 480px;
}

.flag-ug {
  @extend %svg-common;
  background-position: 0 92.74193548387096%;
}

.flag-ug-dims {
  width: 640px;
  height: 480px;
}

.flag-um {
  @extend %svg-common;
  background-position: 0 93.14516129032258%;
}

.flag-um-dims {
  width: 640px;
  height: 480px;
}

.flag-us {
  @extend %svg-common;
  background-position: 0 93.54838709677419%;
}

.flag-us-dims {
  width: 640px;
  height: 480px;
}

.flag-uy {
  @extend %svg-common;
  background-position: 0 93.95161290322581%;
}

.flag-uy-dims {
  width: 640px;
  height: 480px;
}

.flag-uz {
  @extend %svg-common;
  background-position: 0 94.35483870967742%;
}

.flag-uz-dims {
  width: 640px;
  height: 480px;
}

.flag-va {
  @extend %svg-common;
  background-position: 0 94.75806451612904%;
}

.flag-va-dims {
  width: 640px;
  height: 480px;
}

.flag-vc {
  @extend %svg-common;
  background-position: 0 95.16129032258064%;
}

.flag-vc-dims {
  width: 640px;
  height: 480px;
}

.flag-ve {
  @extend %svg-common;
  background-position: 0 95.56451612903226%;
}

.flag-ve-dims {
  width: 640px;
  height: 480px;
}

.flag-vg {
  @extend %svg-common;
  background-position: 0 95.96774193548387%;
}

.flag-vg-dims {
  width: 640px;
  height: 480px;
}

.flag-vi {
  @extend %svg-common;
  background-position: 0 96.37096774193549%;
}

.flag-vi-dims {
  width: 640px;
  height: 480px;
}

.flag-vn {
  @extend %svg-common;
  background-position: 0 96.7741935483871%;
}

.flag-vn-dims {
  width: 640px;
  height: 480px;
}

.flag-vu {
  @extend %svg-common;
  background-position: 0 97.1774193548387%;
}

.flag-vu-dims {
  width: 640px;
  height: 480px;
}

.flag-wf {
  @extend %svg-common;
  background-position: 0 97.58064516129032%;
}

.flag-wf-dims {
  width: 640px;
  height: 480px;
}

.flag-ws {
  @extend %svg-common;
  background-position: 0 97.98387096774194%;
}

.flag-ws-dims {
  width: 640px;
  height: 480px;
}

.flag-ye {
  @extend %svg-common;
  background-position: 0 98.38709677419355%;
}

.flag-ye-dims {
  width: 640px;
  height: 480px;
}

.flag-yt {
  @extend %svg-common;
  background-position: 0 98.79032258064517%;
}

.flag-yt-dims {
  width: 640px;
  height: 480px;
}

.flag-za {
  @extend %svg-common;
  background-position: 0 99.19354838709677%;
}

.flag-za-dims {
  width: 640px;
  height: 480px;
}

.flag-zm {
  @extend %svg-common;
  background-position: 0 99.59677419354838%;
}

.flag-zm-dims {
  width: 640px;
  height: 480px;
}

.flag-zw {
  @extend %svg-common;
  background-position: 0 100%;
}

.flag-zw-dims {
  width: 640px;
  height: 480px;
}

