%svg-common {
  background: url(../../images/flags_sprite-fcb7f6ed.png) no-repeat;
  background: url(../../images/flags_sprite-fcb7f6ed.svg) no-repeat;
}

.hui-Flag-ad {
  @extend %svg-common;
  background-position: 0 0;
}

.hui-Flag-ad-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ae {
  @extend %svg-common;
  background-position: 0 0.4032258064516129%;
}

.hui-Flag-ae-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-af {
  @extend %svg-common;
  background-position: 0 0.8064516129032258%;
}

.hui-Flag-af-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ag {
  @extend %svg-common;
  background-position: 0 1.2096774193548387%;
}

.hui-Flag-ag-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ai {
  @extend %svg-common;
  background-position: 0 1.6129032258064515%;
}

.hui-Flag-ai-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-al {
  @extend %svg-common;
  background-position: 0 2.0161290322580645%;
}

.hui-Flag-al-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-am {
  @extend %svg-common;
  background-position: 0 2.4193548387096775%;
}

.hui-Flag-am-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ao {
  @extend %svg-common;
  background-position: 0 2.8225806451612905%;
}

.hui-Flag-ao-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-aq {
  @extend %svg-common;
  background-position: 0 3.225806451612903%;
}

.hui-Flag-aq-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ar {
  @extend %svg-common;
  background-position: 0 3.629032258064516%;
}

.hui-Flag-ar-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-as {
  @extend %svg-common;
  background-position: 0 4.032258064516129%;
}

.hui-Flag-as-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-at {
  @extend %svg-common;
  background-position: 0 4.435483870967742%;
}

.hui-Flag-at-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-au {
  @extend %svg-common;
  background-position: 0 4.838709677419355%;
}

.hui-Flag-au-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-aw {
  @extend %svg-common;
  background-position: 0 5.241935483870968%;
}

.hui-Flag-aw-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ax {
  @extend %svg-common;
  background-position: 0 5.645161290322581%;
}

.hui-Flag-ax-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-az {
  @extend %svg-common;
  background-position: 0 6.048387096774194%;
}

.hui-Flag-az-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ba {
  @extend %svg-common;
  background-position: 0 6.451612903225806%;
}

.hui-Flag-ba-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bb {
  @extend %svg-common;
  background-position: 0 6.854838709677419%;
}

.hui-Flag-bb-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bd {
  @extend %svg-common;
  background-position: 0 7.258064516129032%;
}

.hui-Flag-bd-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-be {
  @extend %svg-common;
  background-position: 0 7.661290322580645%;
}

.hui-Flag-be-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bf {
  @extend %svg-common;
  background-position: 0 8.064516129032258%;
}

.hui-Flag-bf-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bg {
  @extend %svg-common;
  background-position: 0 8.46774193548387%;
}

.hui-Flag-bg-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bh {
  @extend %svg-common;
  background-position: 0 8.870967741935484%;
}

.hui-Flag-bh-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bi {
  @extend %svg-common;
  background-position: 0 9.274193548387096%;
}

.hui-Flag-bi-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bj {
  @extend %svg-common;
  background-position: 0 9.67741935483871%;
}

.hui-Flag-bj-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bl {
  @extend %svg-common;
  background-position: 0 10.080645161290322%;
}

.hui-Flag-bl-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bm {
  @extend %svg-common;
  background-position: 0 10.483870967741936%;
}

.hui-Flag-bm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bn {
  @extend %svg-common;
  background-position: 0 10.887096774193548%;
}

.hui-Flag-bn-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bo {
  @extend %svg-common;
  background-position: 0 11.290322580645162%;
}

.hui-Flag-bo-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bq {
  @extend %svg-common;
  background-position: 0 11.693548387096774%;
}

.hui-Flag-bq-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-br {
  @extend %svg-common;
  background-position: 0 12.096774193548388%;
}

.hui-Flag-br-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bs {
  @extend %svg-common;
  background-position: 0 12.5%;
}

.hui-Flag-bs-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bt {
  @extend %svg-common;
  background-position: 0 12.903225806451612%;
}

.hui-Flag-bt-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bv {
  @extend %svg-common;
  background-position: 0 13.306451612903226%;
}

.hui-Flag-bv-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bw {
  @extend %svg-common;
  background-position: 0 13.709677419354838%;
}

.hui-Flag-bw-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-by {
  @extend %svg-common;
  background-position: 0 14.112903225806452%;
}

.hui-Flag-by-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-bz {
  @extend %svg-common;
  background-position: 0 14.516129032258064%;
}

.hui-Flag-bz-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ca {
  @extend %svg-common;
  background-position: 0 14.919354838709678%;
}

.hui-Flag-ca-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cc {
  @extend %svg-common;
  background-position: 0 15.32258064516129%;
}

.hui-Flag-cc-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cd {
  @extend %svg-common;
  background-position: 0 15.725806451612904%;
}

.hui-Flag-cd-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cf {
  @extend %svg-common;
  background-position: 0 16.129032258064516%;
}

.hui-Flag-cf-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cg {
  @extend %svg-common;
  background-position: 0 16.532258064516128%;
}

.hui-Flag-cg-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ch {
  @extend %svg-common;
  background-position: 0 16.93548387096774%;
}

.hui-Flag-ch-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ci {
  @extend %svg-common;
  background-position: 0 17.338709677419356%;
}

.hui-Flag-ci-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ck {
  @extend %svg-common;
  background-position: 0 17.741935483870968%;
}

.hui-Flag-ck-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cl {
  @extend %svg-common;
  background-position: 0 18.14516129032258%;
}

.hui-Flag-cl-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cm {
  @extend %svg-common;
  background-position: 0 18.548387096774192%;
}

.hui-Flag-cm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cn {
  @extend %svg-common;
  background-position: 0 18.951612903225808%;
}

.hui-Flag-cn-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-co {
  @extend %svg-common;
  background-position: 0 19.35483870967742%;
}

.hui-Flag-co-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cr {
  @extend %svg-common;
  background-position: 0 19.758064516129032%;
}

.hui-Flag-cr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cu {
  @extend %svg-common;
  background-position: 0 20.161290322580644%;
}

.hui-Flag-cu-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cv {
  @extend %svg-common;
  background-position: 0 20.56451612903226%;
}

.hui-Flag-cv-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cw {
  @extend %svg-common;
  background-position: 0 20.967741935483872%;
}

.hui-Flag-cw-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cx {
  @extend %svg-common;
  background-position: 0 21.370967741935484%;
}

.hui-Flag-cx-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cy {
  @extend %svg-common;
  background-position: 0 21.774193548387096%;
}

.hui-Flag-cy-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-cz {
  @extend %svg-common;
  background-position: 0 22.177419354838708%;
}

.hui-Flag-cz-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-de {
  @extend %svg-common;
  background-position: 0 22.580645161290324%;
}

.hui-Flag-de-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-dj {
  @extend %svg-common;
  background-position: 0 22.983870967741936%;
}

.hui-Flag-dj-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-dk {
  @extend %svg-common;
  background-position: 0 23.387096774193548%;
}

.hui-Flag-dk-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-dm {
  @extend %svg-common;
  background-position: 0 23.79032258064516%;
}

.hui-Flag-dm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-do {
  @extend %svg-common;
  background-position: 0 24.193548387096776%;
}

.hui-Flag-do-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-dz {
  @extend %svg-common;
  background-position: 0 24.596774193548388%;
}

.hui-Flag-dz-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ec {
  @extend %svg-common;
  background-position: 0 25%;
}

.hui-Flag-ec-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ee {
  @extend %svg-common;
  background-position: 0 25.403225806451612%;
}

.hui-Flag-ee-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-eg {
  @extend %svg-common;
  background-position: 0 25.806451612903224%;
}

.hui-Flag-eg-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-eh {
  @extend %svg-common;
  background-position: 0 26.20967741935484%;
}

.hui-Flag-eh-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-er {
  @extend %svg-common;
  background-position: 0 26.612903225806452%;
}

.hui-Flag-er-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-es {
  @extend %svg-common;
  background-position: 0 27.016129032258064%;
}

.hui-Flag-es-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-et {
  @extend %svg-common;
  background-position: 0 27.419354838709676%;
}

.hui-Flag-et-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-fi {
  @extend %svg-common;
  background-position: 0 27.822580645161292%;
}

.hui-Flag-fi-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-fj {
  @extend %svg-common;
  background-position: 0 28.225806451612904%;
}

.hui-Flag-fj-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-fk {
  @extend %svg-common;
  background-position: 0 28.629032258064516%;
}

.hui-Flag-fk-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-fm {
  @extend %svg-common;
  background-position: 0 29.032258064516128%;
}

.hui-Flag-fm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-fo {
  @extend %svg-common;
  background-position: 0 29.43548387096774%;
}

.hui-Flag-fo-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-fr {
  @extend %svg-common;
  background-position: 0 29.838709677419356%;
}

.hui-Flag-fr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ga {
  @extend %svg-common;
  background-position: 0 30.241935483870968%;
}

.hui-Flag-ga-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-uk {
  @extend %svg-common;
  background-position: 0 30.64516129032258%;
}

.hui-Flag-uk-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gd {
  @extend %svg-common;
  background-position: 0 31.048387096774192%;
}

.hui-Flag-gd-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ge {
  @extend %svg-common;
  background-position: 0 31.451612903225808%;
}

.hui-Flag-ge-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gf {
  @extend %svg-common;
  background-position: 0 31.85483870967742%;
}

.hui-Flag-gf-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gg {
  @extend %svg-common;
  background-position: 0 32.25806451612903%;
}

.hui-Flag-gg-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gh {
  @extend %svg-common;
  background-position: 0 32.66129032258065%;
}

.hui-Flag-gh-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gi {
  @extend %svg-common;
  background-position: 0 33.064516129032256%;
}

.hui-Flag-gi-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gl {
  @extend %svg-common;
  background-position: 0 33.46774193548387%;
}

.hui-Flag-gl-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gm {
  @extend %svg-common;
  background-position: 0 33.87096774193548%;
}

.hui-Flag-gm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gn {
  @extend %svg-common;
  background-position: 0 34.274193548387096%;
}

.hui-Flag-gn-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gp {
  @extend %svg-common;
  background-position: 0 34.67741935483871%;
}

.hui-Flag-gp-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gq {
  @extend %svg-common;
  background-position: 0 35.08064516129032%;
}

.hui-Flag-gq-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gr {
  @extend %svg-common;
  background-position: 0 35.483870967741936%;
}

.hui-Flag-gr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gs {
  @extend %svg-common;
  background-position: 0 35.88709677419355%;
}

.hui-Flag-gs-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gt {
  @extend %svg-common;
  background-position: 0 36.29032258064516%;
}

.hui-Flag-gt-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gu {
  @extend %svg-common;
  background-position: 0 36.693548387096776%;
}

.hui-Flag-gu-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gw {
  @extend %svg-common;
  background-position: 0 37.096774193548384%;
}

.hui-Flag-gw-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-gy {
  @extend %svg-common;
  background-position: 0 37.5%;
}

.hui-Flag-gy-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-hk {
  @extend %svg-common;
  background-position: 0 37.903225806451616%;
}

.hui-Flag-hk-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-hm {
  @extend %svg-common;
  background-position: 0 38.306451612903224%;
}

.hui-Flag-hm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-hn {
  @extend %svg-common;
  background-position: 0 38.70967741935484%;
}

.hui-Flag-hn-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-hr {
  @extend %svg-common;
  background-position: 0 39.11290322580645%;
}

.hui-Flag-hr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ht {
  @extend %svg-common;
  background-position: 0 39.516129032258064%;
}

.hui-Flag-ht-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-hu {
  @extend %svg-common;
  background-position: 0 39.91935483870968%;
}

.hui-Flag-hu-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-id {
  @extend %svg-common;
  background-position: 0 40.32258064516129%;
}

.hui-Flag-id-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ie {
  @extend %svg-common;
  background-position: 0 40.725806451612904%;
}

.hui-Flag-ie-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-il {
  @extend %svg-common;
  background-position: 0 41.12903225806452%;
}

.hui-Flag-il-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-im {
  @extend %svg-common;
  background-position: 0 41.53225806451613%;
}

.hui-Flag-im-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-in {
  @extend %svg-common;
  background-position: 0 41.935483870967744%;
}

.hui-Flag-in-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-io {
  @extend %svg-common;
  background-position: 0 42.33870967741935%;
}

.hui-Flag-io-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-iq {
  @extend %svg-common;
  background-position: 0 42.74193548387097%;
}

.hui-Flag-iq-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ir {
  @extend %svg-common;
  background-position: 0 43.145161290322584%;
}

.hui-Flag-ir-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-is {
  @extend %svg-common;
  background-position: 0 43.54838709677419%;
}

.hui-Flag-is-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-it {
  @extend %svg-common;
  background-position: 0 43.95161290322581%;
}

.hui-Flag-it-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-je {
  @extend %svg-common;
  background-position: 0 44.354838709677416%;
}

.hui-Flag-je-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-jm {
  @extend %svg-common;
  background-position: 0 44.75806451612903%;
}

.hui-Flag-jm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-jo {
  @extend %svg-common;
  background-position: 0 45.16129032258065%;
}

.hui-Flag-jo-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-jp {
  @extend %svg-common;
  background-position: 0 45.564516129032256%;
}

.hui-Flag-jp-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ke {
  @extend %svg-common;
  background-position: 0 45.96774193548387%;
}

.hui-Flag-ke-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-kg {
  @extend %svg-common;
  background-position: 0 46.37096774193548%;
}

.hui-Flag-kg-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-kh {
  @extend %svg-common;
  background-position: 0 46.774193548387096%;
}

.hui-Flag-kh-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ki {
  @extend %svg-common;
  background-position: 0 47.17741935483871%;
}

.hui-Flag-ki-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-km {
  @extend %svg-common;
  background-position: 0 47.58064516129032%;
}

.hui-Flag-km-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-kn {
  @extend %svg-common;
  background-position: 0 47.983870967741936%;
}

.hui-Flag-kn-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-kp {
  @extend %svg-common;
  background-position: 0 48.38709677419355%;
}

.hui-Flag-kp-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-kr {
  @extend %svg-common;
  background-position: 0 48.79032258064516%;
}

.hui-Flag-kr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-kw {
  @extend %svg-common;
  background-position: 0 49.193548387096776%;
}

.hui-Flag-kw-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ky {
  @extend %svg-common;
  background-position: 0 49.596774193548384%;
}

.hui-Flag-ky-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-kz {
  @extend %svg-common;
  background-position: 0 50%;
}

.hui-Flag-kz-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-la {
  @extend %svg-common;
  background-position: 0 50.403225806451616%;
}

.hui-Flag-la-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-lb {
  @extend %svg-common;
  background-position: 0 50.806451612903224%;
}

.hui-Flag-lb-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-lc {
  @extend %svg-common;
  background-position: 0 51.20967741935484%;
}

.hui-Flag-lc-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-li {
  @extend %svg-common;
  background-position: 0 51.61290322580645%;
}

.hui-Flag-li-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-lk {
  @extend %svg-common;
  background-position: 0 52.016129032258064%;
}

.hui-Flag-lk-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-lr {
  @extend %svg-common;
  background-position: 0 52.41935483870968%;
}

.hui-Flag-lr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ls {
  @extend %svg-common;
  background-position: 0 52.82258064516129%;
}

.hui-Flag-ls-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-lt {
  @extend %svg-common;
  background-position: 0 53.225806451612904%;
}

.hui-Flag-lt-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-lu {
  @extend %svg-common;
  background-position: 0 53.62903225806452%;
}

.hui-Flag-lu-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-lv {
  @extend %svg-common;
  background-position: 0 54.03225806451613%;
}

.hui-Flag-lv-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ly {
  @extend %svg-common;
  background-position: 0 54.435483870967744%;
}

.hui-Flag-ly-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ma {
  @extend %svg-common;
  background-position: 0 54.83870967741935%;
}

.hui-Flag-ma-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mc {
  @extend %svg-common;
  background-position: 0 55.24193548387097%;
}

.hui-Flag-mc-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-md {
  @extend %svg-common;
  background-position: 0 55.645161290322584%;
}

.hui-Flag-md-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-me {
  @extend %svg-common;
  background-position: 0 56.04838709677419%;
}

.hui-Flag-me-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mf {
  @extend %svg-common;
  background-position: 0 56.45161290322581%;
}

.hui-Flag-mf-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mg {
  @extend %svg-common;
  background-position: 0 56.854838709677416%;
}

.hui-Flag-mg-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mh {
  @extend %svg-common;
  background-position: 0 57.25806451612903%;
}

.hui-Flag-mh-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mk {
  @extend %svg-common;
  background-position: 0 57.66129032258065%;
}

.hui-Flag-mk-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ml {
  @extend %svg-common;
  background-position: 0 58.064516129032256%;
}

.hui-Flag-ml-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mm {
  @extend %svg-common;
  background-position: 0 58.46774193548387%;
}

.hui-Flag-mm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mn {
  @extend %svg-common;
  background-position: 0 58.87096774193548%;
}

.hui-Flag-mn-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mo {
  @extend %svg-common;
  background-position: 0 59.274193548387096%;
}

.hui-Flag-mo-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mp {
  @extend %svg-common;
  background-position: 0 59.67741935483871%;
}

.hui-Flag-mp-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mq {
  @extend %svg-common;
  background-position: 0 60.08064516129032%;
}

.hui-Flag-mq-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mr {
  @extend %svg-common;
  background-position: 0 60.483870967741936%;
}

.hui-Flag-mr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ms {
  @extend %svg-common;
  background-position: 0 60.88709677419355%;
}

.hui-Flag-ms-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mt {
  @extend %svg-common;
  background-position: 0 61.29032258064516%;
}

.hui-Flag-mt-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mu {
  @extend %svg-common;
  background-position: 0 61.693548387096776%;
}

.hui-Flag-mu-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mv {
  @extend %svg-common;
  background-position: 0 62.096774193548384%;
}

.hui-Flag-mv-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mw {
  @extend %svg-common;
  background-position: 0 62.5%;
}

.hui-Flag-mw-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mx {
  @extend %svg-common;
  background-position: 0 62.903225806451616%;
}

.hui-Flag-mx-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-my {
  @extend %svg-common;
  background-position: 0 63.306451612903224%;
}

.hui-Flag-my-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-mz {
  @extend %svg-common;
  background-position: 0 63.70967741935484%;
}

.hui-Flag-mz-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-na {
  @extend %svg-common;
  background-position: 0 64.11290322580645%;
}

.hui-Flag-na-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-nc {
  @extend %svg-common;
  background-position: 0 64.51612903225806%;
}

.hui-Flag-nc-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ne {
  @extend %svg-common;
  background-position: 0 64.91935483870968%;
}

.hui-Flag-ne-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-nf {
  @extend %svg-common;
  background-position: 0 65.3225806451613%;
}

.hui-Flag-nf-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ng {
  @extend %svg-common;
  background-position: 0 65.7258064516129%;
}

.hui-Flag-ng-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ni {
  @extend %svg-common;
  background-position: 0 66.12903225806451%;
}

.hui-Flag-ni-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-nl {
  @extend %svg-common;
  background-position: 0 66.53225806451613%;
}

.hui-Flag-nl-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-no {
  @extend %svg-common;
  background-position: 0 66.93548387096774%;
}

.hui-Flag-no-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-np {
  @extend %svg-common;
  background-position: 0 67.33870967741936%;
}

.hui-Flag-np-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-nr {
  @extend %svg-common;
  background-position: 0 67.74193548387096%;
}

.hui-Flag-nr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-nu {
  @extend %svg-common;
  background-position: 0 68.14516129032258%;
}

.hui-Flag-nu-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-nz {
  @extend %svg-common;
  background-position: 0 68.54838709677419%;
}

.hui-Flag-nz-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-om {
  @extend %svg-common;
  background-position: 0 68.95161290322581%;
}

.hui-Flag-om-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pa {
  @extend %svg-common;
  background-position: 0 69.35483870967742%;
}

.hui-Flag-pa-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pe {
  @extend %svg-common;
  background-position: 0 69.75806451612904%;
}

.hui-Flag-pe-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pf {
  @extend %svg-common;
  background-position: 0 70.16129032258064%;
}

.hui-Flag-pf-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pg {
  @extend %svg-common;
  background-position: 0 70.56451612903226%;
}

.hui-Flag-pg-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ph {
  @extend %svg-common;
  background-position: 0 70.96774193548387%;
}

.hui-Flag-ph-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pk {
  @extend %svg-common;
  background-position: 0 71.37096774193549%;
}

.hui-Flag-pk-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pl {
  @extend %svg-common;
  background-position: 0 71.7741935483871%;
}

.hui-Flag-pl-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pm {
  @extend %svg-common;
  background-position: 0 72.1774193548387%;
}

.hui-Flag-pm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pn {
  @extend %svg-common;
  background-position: 0 72.58064516129032%;
}

.hui-Flag-pn-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pr {
  @extend %svg-common;
  background-position: 0 72.98387096774194%;
}

.hui-Flag-pr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ps {
  @extend %svg-common;
  background-position: 0 73.38709677419355%;
}

.hui-Flag-ps-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pt {
  @extend %svg-common;
  background-position: 0 73.79032258064517%;
}

.hui-Flag-pt-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-pw {
  @extend %svg-common;
  background-position: 0 74.19354838709677%;
}

.hui-Flag-pw-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-py {
  @extend %svg-common;
  background-position: 0 74.59677419354838%;
}

.hui-Flag-py-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-qa {
  @extend %svg-common;
  background-position: 0 75%;
}

.hui-Flag-qa-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-re {
  @extend %svg-common;
  background-position: 0 75.40322580645162%;
}

.hui-Flag-re-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ro {
  @extend %svg-common;
  background-position: 0 75.80645161290323%;
}

.hui-Flag-ro-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-rs {
  @extend %svg-common;
  background-position: 0 76.20967741935483%;
}

.hui-Flag-rs-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ru {
  @extend %svg-common;
  background-position: 0 76.61290322580645%;
}

.hui-Flag-ru-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-rw {
  @extend %svg-common;
  background-position: 0 77.01612903225806%;
}

.hui-Flag-rw-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sa {
  @extend %svg-common;
  background-position: 0 77.41935483870968%;
}

.hui-Flag-sa-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sb {
  @extend %svg-common;
  background-position: 0 77.8225806451613%;
}

.hui-Flag-sb-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sc {
  @extend %svg-common;
  background-position: 0 78.2258064516129%;
}

.hui-Flag-sc-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sd {
  @extend %svg-common;
  background-position: 0 78.62903225806451%;
}

.hui-Flag-sd-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-se {
  @extend %svg-common;
  background-position: 0 79.03225806451613%;
}

.hui-Flag-se-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sg {
  @extend %svg-common;
  background-position: 0 79.43548387096774%;
}

.hui-Flag-sg-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sh {
  @extend %svg-common;
  background-position: 0 79.83870967741936%;
}

.hui-Flag-sh-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-si {
  @extend %svg-common;
  background-position: 0 80.24193548387096%;
}

.hui-Flag-si-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sj {
  @extend %svg-common;
  background-position: 0 80.64516129032258%;
}

.hui-Flag-sj-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sk {
  @extend %svg-common;
  background-position: 0 81.04838709677419%;
}

.hui-Flag-sk-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sl {
  @extend %svg-common;
  background-position: 0 81.45161290322581%;
}

.hui-Flag-sl-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sm {
  @extend %svg-common;
  background-position: 0 81.85483870967742%;
}

.hui-Flag-sm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sn {
  @extend %svg-common;
  background-position: 0 82.25806451612904%;
}

.hui-Flag-sn-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-so {
  @extend %svg-common;
  background-position: 0 82.66129032258064%;
}

.hui-Flag-so-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sr {
  @extend %svg-common;
  background-position: 0 83.06451612903226%;
}

.hui-Flag-sr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ss {
  @extend %svg-common;
  background-position: 0 83.46774193548387%;
}

.hui-Flag-ss-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-st {
  @extend %svg-common;
  background-position: 0 83.87096774193549%;
}

.hui-Flag-st-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sv {
  @extend %svg-common;
  background-position: 0 84.2741935483871%;
}

.hui-Flag-sv-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sx {
  @extend %svg-common;
  background-position: 0 84.6774193548387%;
}

.hui-Flag-sx-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sy {
  @extend %svg-common;
  background-position: 0 85.08064516129032%;
}

.hui-Flag-sy-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-sz {
  @extend %svg-common;
  background-position: 0 85.48387096774194%;
}

.hui-Flag-sz-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tc {
  @extend %svg-common;
  background-position: 0 85.88709677419355%;
}

.hui-Flag-tc-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-td {
  @extend %svg-common;
  background-position: 0 86.29032258064517%;
}

.hui-Flag-td-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tf {
  @extend %svg-common;
  background-position: 0 86.69354838709677%;
}

.hui-Flag-tf-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tg {
  @extend %svg-common;
  background-position: 0 87.09677419354838%;
}

.hui-Flag-tg-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-th {
  @extend %svg-common;
  background-position: 0 87.5%;
}

.hui-Flag-th-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tj {
  @extend %svg-common;
  background-position: 0 87.90322580645162%;
}

.hui-Flag-tj-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tk {
  @extend %svg-common;
  background-position: 0 88.30645161290323%;
}

.hui-Flag-tk-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tl {
  @extend %svg-common;
  background-position: 0 88.70967741935483%;
}

.hui-Flag-tl-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tm {
  @extend %svg-common;
  background-position: 0 89.11290322580645%;
}

.hui-Flag-tm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tn {
  @extend %svg-common;
  background-position: 0 89.51612903225806%;
}

.hui-Flag-tn-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-to {
  @extend %svg-common;
  background-position: 0 89.91935483870968%;
}

.hui-Flag-to-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tr {
  @extend %svg-common;
  background-position: 0 90.3225806451613%;
}

.hui-Flag-tr-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tt {
  @extend %svg-common;
  background-position: 0 90.7258064516129%;
}

.hui-Flag-tt-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tv {
  @extend %svg-common;
  background-position: 0 91.12903225806451%;
}

.hui-Flag-tv-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tw {
  @extend %svg-common;
  background-position: 0 91.53225806451613%;
}

.hui-Flag-tw-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-tz {
  @extend %svg-common;
  background-position: 0 91.93548387096774%;
}

.hui-Flag-tz-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ua {
  @extend %svg-common;
  background-position: 0 92.33870967741936%;
}

.hui-Flag-ua-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ug {
  @extend %svg-common;
  background-position: 0 92.74193548387096%;
}

.hui-Flag-ug-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-um {
  @extend %svg-common;
  background-position: 0 93.14516129032258%;
}

.hui-Flag-um-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-us {
  @extend %svg-common;
  background-position: 0 93.54838709677419%;
}

.hui-Flag-us-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-uy {
  @extend %svg-common;
  background-position: 0 93.95161290322581%;
}

.hui-Flag-uy-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-uz {
  @extend %svg-common;
  background-position: 0 94.35483870967742%;
}

.hui-Flag-uz-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-va {
  @extend %svg-common;
  background-position: 0 94.75806451612904%;
}

.hui-Flag-va-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-vc {
  @extend %svg-common;
  background-position: 0 95.16129032258064%;
}

.hui-Flag-vc-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ve {
  @extend %svg-common;
  background-position: 0 95.56451612903226%;
}

.hui-Flag-ve-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-vg {
  @extend %svg-common;
  background-position: 0 95.96774193548387%;
}

.hui-Flag-vg-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-vi {
  @extend %svg-common;
  background-position: 0 96.37096774193549%;
}

.hui-Flag-vi-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-vn {
  @extend %svg-common;
  background-position: 0 96.7741935483871%;
}

.hui-Flag-vn-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-vu {
  @extend %svg-common;
  background-position: 0 97.1774193548387%;
}

.hui-Flag-vu-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-wf {
  @extend %svg-common;
  background-position: 0 97.58064516129032%;
}

.hui-Flag-wf-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ws {
  @extend %svg-common;
  background-position: 0 97.98387096774194%;
}

.hui-Flag-ws-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-ye {
  @extend %svg-common;
  background-position: 0 98.38709677419355%;
}

.hui-Flag-ye-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-yt {
  @extend %svg-common;
  background-position: 0 98.79032258064517%;
}

.hui-Flag-yt-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-za {
  @extend %svg-common;
  background-position: 0 99.19354838709677%;
}

.hui-Flag-za-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-zm {
  @extend %svg-common;
  background-position: 0 99.59677419354838%;
}

.hui-Flag-zm-dims {
  width: 640px;
  height: 480px;
}

.hui-Flag-zw {
  @extend %svg-common;
  background-position: 0 100%;
}

.hui-Flag-zw-dims {
  width: 640px;
  height: 480px;
}

