@import "flags_sprite";

.hui-FlagIcon {
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  margin-right: 6px;
  border-radius: $border-radius;
  overflow: hidden;
}

.hui-Flag {
  display: inline-block;
  width: 24px;
  height: 18px;
  background-size: 100% auto;
}

.hui-Flag-bl { @extend .hui-Flag-fr }
.hui-Flag-cc { @extend .hui-Flag-au }
.hui-Flag-gf { @extend .hui-Flag-fr }
.hui-Flag-gp { @extend .hui-Flag-fr }
.hui-Flag-hm { @extend .hui-Flag-au }
.hui-Flag-mf { @extend .hui-Flag-fr }
.hui-Flag-mq { @extend .hui-Flag-fr }
.hui-Flag-nc { @extend .hui-Flag-fr }
.hui-Flag-pm { @extend .hui-Flag-fr }
.hui-Flag-re { @extend .hui-Flag-fr }
.hui-Flag-tf { @extend .hui-Flag-fr }
.hui-Flag-um { @extend .hui-Flag-us }
.hui-Flag-vg { @extend .hui-Flag-vi }
.hui-Flag-wf { @extend .hui-Flag-fr }
.hui-Flag-yt { @extend .hui-Flag-fr }
