.hui-SingleNumber,
.hui-SingleNumber--loading,
.hui-SingleNumber--emptyState {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

.hui-SingleNumber--loading,
.hui-SingleNumber--emptyState {
  background-color: $grey-lighter;
  width: 200px;
  .hui-SingleNumber__metric:before {
    content: "\00a0";
  }
}

.hui-SingleNumber__metric {
  font-size: $x-16;
  font-weight: 300;
  color: $grey-active;
}
