.hui-SingleNumber,
.hui-SingleNumber--loading {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

.hui-SingleNumber--loading {
  background-color: #D1D2D4;
  width: 200px;
}

.hui-SingleNumber__metric {
  font-size: $hui-x-16;
  font-weight: 300;
  color: $hui-header-primary;
}
