.hui-Tabs {
  height: 100%;
}

.hui-Tabs_content {
  height: 100%;
  min-height: 200px;
  box-sizing: border-box;
  position: relative;
}

.hui-Tabs__tab {
  background: $grey;
  color: white;
  font-family: 'Lato', sans-serif;
  border-right: 1px solid lighten($grey, 5%);
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  padding: 10px $x-3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &:last-child {
    border-right: 0px;
  }
}

.hui-Tabs__tab--active {
  background: white;
  color: #575d62;
}
