.hui-PageForm {
  padding-top: $x-5;
  padding-bottom: $x-10;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.hui-PageForm__title {
  font-family: 'Amatic SC',lato,helvetica,arial,sans-serif;
  font-size: $x-9;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 $x-3;
}

.hui-PageForm__icon {
  font-size: $x-11;
  color: white;
  margin-bottom: $x-3;
  display: inline-block;
  margin-bottom: $x-3;
}
