.hui-Overlay {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $font-copy;

  line-height: normal;
  position: fixed;
  background: $grey-dark;
  background: transparentize($grey-dark, 0.2);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  transform: translateZ(200px);
}

.hui-Overlay--inverse {
  background: transparentize(white, 0.2);
}

.hui-Overlay__close {
  position: absolute;
  right: $x-9;
  top: $x-9;
  display: block;
  font-size: $x-9;
  line-height:$x-9;
  color: white;

  &:hover {
    color: $green;
  }

  @include media-max($bp-xs) {
    right: $x-3;
    top: $x-4;
    font-size: 30px;
  }
}

.hui-Overlay__close--inverse {
  color: $grey-light;
}

.hui-Overlay-open {
  overflow: hidden;
}
