.FilterSelectInput__option-list {
  position: relative;
  z-index: 1;
  float: left;
  width: 100%;
  margin-top: -34px;
}

.FilterSelectInput__option-list .OptionList__list {
  border-radius: 0 0 $border-radius $border-radius;
}
