 %hui-input-button {
  background: $grey-light;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding-right: $x-5;
  padding-left: $x-5;
  box-sizing: border-box;
  display: inline-block;
  font-size: $x-3;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: snow;
  line-height: $x-10;
}

%hui-button-reset {
  background: transparent;
  border: 0;
  cursor: pointer;
}

%hui-link {
  font-size: $x-3;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: $green-dark;
  border: none;
  outline: none;
  &:active, &:hover {
    color: $green-active;
  }
}
