%hui-errorMessage {
  width: 100%;
  background: $hui-error-background;
  min-height: $hui-x-9;
  padding: $hui-x-3;
  margin: $hui-x-3 0;
  box-sizing: border-box;
  border-radius: $hui-border-radius;
}
