%hui-lato-thin {
  font-weight: 100;
  font-family: $hui-font-family;
}

%hui-rule-left {
  border: 0;
  border-left: 1px;
  border-style: solid;
  border-color: $hui-border-green;
}

%hui-rule-bottom {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: $hui-border-grey;
}
