%uilib-lato-thin {
  font-weight: 100;
  font-family: lato, helvetica, arial, sans-serif;
}

%uilib-rule-left {
  border: 0;
  border-left: 1px;
  border-style: solid;
  border-color: $hui-border-green;
}
