.hui-TopBar {
  background-color: white;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: $uilib-border-green;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 67px;
  z-index: 1;
}
