.hui-DatePickerDay, .hui-DatePickerDay--selected, .hui-DatePickerDay--today, .hui-DatePickerDay--filler {
  display: inline-block;
  width: 30px;
  text-align: center;
  border-radius: $x-1;
  padding: 0px$x-1;
  color: $green;
  font-family: $font-copy;
  &:hover {
    background-color: $grey-lighter;
  }
}

.hui-DatePickerDay--today {
  font-weight: bold;
  background-color: $grey-lighter;
  color: $green;
}

.hui-DatePickerDay--selected {
  background: $green-active;
  color: white;

  &:hover {
    color: $green-lighter;
  }
}
