.DemoPage {
  pre {
    margin-bottom: 18px;
  }
}

.DemoPage__h2 {
  @extend %hui-rule-bottom;
  @extend %general-reset;
  font-size: $x-7;
  margin-bottom: $x-6;
  padding-bottom: 12px;
  margin-top: $x-9;
  font-weight: 200;
  color: $grey;
}

.DemoPage__h3 {
  @extend %general-reset;
  font-size: $x-5;
  margin-bottom: $x-4;
  margin-top: $x-4;
  font-weight: 700;
  color: $grey;
}

.DemoPage__h4 {
  @extend %general-reset;
  font-size: $x-3;
  margin-bottom: $x-2;
  margin-top: $x-6;
  font-weight: 800;
  color: $grey;
}

.DemoPage__p {
  @extend %general-reset;
  margin-bottom: $x-4;
  color: $grey;
  font-size: 14px;
  line-height: $x-4;
}

.DemoPage__pre-wrap {
  @extend %general-reset;
  padding: 0 16px 32px;
  float: left;
  width: 100%;
}

.DemoPage__pre {
  font-family: monospace;
  margin-bottom: $x-4;
  color: $grey;
  font-size: 14px;
  line-height: $x-4;
  padding: 1em;
  border-radius: $border-radius;
  background-color: $grey;
  color: whitesmoke;
}

.DemoPage__ul {
  @extend %general-reset;
  margin-left: $x-6;
  margin-bottom: $x-6;
  color: $grey;
  font-size: 14px;
}

.DemoPage__li {
  line-height: $x-6;
}

.DemoPage__content {
  max-width: 900px;
  margin: 0 auto;
  padding: $x-6;
}

.DemoPage__example,
.DemoPage__example--graph--lines,
.DemoPage__example--graph--stacked,
.DemoPage__example--visualisation,
.DemoPage__example--button--inverse,
.DemoPage__example--button {
  position: relative;
  top: 0px;
  left: 0px;
  min-height: 69px;
  margin-bottom: 18px;
  margin-top: 18px;
  border: 1px $grey-active solid;
  z-index: 1;
  background: white;
}

.DemoPage__example--graph--lines,
.DemoPage__example--graph--stacked,
.DemoPage__example--visualisation {
  box-sizing: border-box;
  padding: 10px;
}

.DemoPage__example--graph--lines {
  height: 100px;
}

.DemoPage__example--graph--stacked {
  height: 200px;
}

.DemoPage__bold {
  font-weight: 700;
}

.DemoPage__group {
  padding-bottom: $x-5;
}

.DemoPage__example--button,
.DemoPage__example--button--inverse {
  padding: $x-6;
}

.DemoPage__example--button--inverse {
  background: $grey;
}
