.DemoPage {
  margin-top: 64px;

  pre {
    margin-bottom: 18px;
  }
}

.DemoPage__h2 {
  @extend %hui-rule-bottom;
  @extend %general-reset;
  font-size: 28px;
  margin-bottom: 24px;
  padding-bottom: 12px;
  margin-top: 36px;
  font-weight: 200;
  color: $hui-text-body;
}

.DemoPage__h3 {
  @extend %general-reset;
  font-size: 20px;
  margin-bottom: 16px;
  margin-top: 16px;
  font-weight: 700;
  color: $hui-text-body;
}

.DemoPage__h4 {
  @extend %general-reset;
  font-size: 13px;
  margin-bottom: 8px;
  margin-top: 24px;
  font-weight: 800;
  color: $hui-text-body;
}

.DemoPage__p {
  @extend %general-reset;
  margin-bottom: 16px;
  color: $hui-text-body;
  font-size: 14px;
  line-height: 16px;
}

.DemoPage__ul {
  @extend %general-reset;
  margin-left: 24px;
  margin-bottom: 24px;
  color: $hui-text-body;
  font-size: 14px;
}

.DemoPage__li {
  line-height: 24px;
}

.DemoPage__content {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 64px;
  padding: 24px;
}

.DemoPage__example,
.DemoPage__example--graph--lines,
.DemoPage__example--graph--stacked,
.DemoPage__example--visualisation,
.DemoPage__example--button--inverse,
.DemoPage__example--button {
  position: relative;
  top: 0px;
  left: 0px;
  min-height: 69px;
  margin-bottom: 18px;
  margin-top: 18px;
  border: 1px $hui-border-grey solid;
  z-index: 1;
  background: white;
}

.DemoPage__example--graph--lines,
.DemoPage__example--graph--stacked,
.DemoPage__example--visualisation {
  box-sizing: border-box;
  padding: 10px;
}

.DemoPage__example--graph--lines {
  height: 100px;
}

.DemoPage__example--graph--stacked {
  height: 200px;
}

.DemoPage__bold {
  font-weight: 700;
}

.DemoPage__group {
  padding-bottom: 20px;
}

.DemoPage__example--button,
.DemoPage__example--button--inverse {
  padding: 24px;
}

.DemoPage__example--button--inverse {
  background: #666;
}
