.hui-DeltaArrow--up,
.hui-DeltaArrow--down {
  width: 43px;
  height: 37px;
  position: relative;
  display: inline-block;
  top: -10px;

  svg {
    width: 43px;
    height: 37px;
  }
}

.hui-DeltaArrow__value {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10px;
  color: white;
}

.hui-DeltaArrow--up {
  svg {
    fill: #85c27e;
  }
  .hui-DeltaArrow__value {
    bottom: 5px;
  }
}

.hui-DeltaArrow--down {
  svg {
    fill: #ce522e;
  }
  .hui-DeltaArrow__value {
    top: 5px;
  }
}
