.hui-FormRow {
  display: table;
  width: 100%;
  font-family: $font-copy;
}

.hui-FormRow__tip {
  line-height: $x-5;
  font-size: 15px;
  color: $grey;
  display: table;
  cursor: pointer;
  max-width: 50%;
  padding-right: $x-3;
  min-height: 42px;
}

.hui-FormRow__label {
  display: table-cell;
  vertical-align: middle;
  font-weight: 200;
}
