.hui-LinePath {
  @for $n from 1 through length($data-series-colors) {
    &:nth-child(#{$n}) {
      $color: nth($data-series-colors, $n);
      .hui-LinePath__area { fill: $color; }
      .hui-LinePath__line { stroke: $color; }
    }
  }
}

.hui-LinePath__area, .hui-LinePath__line {
  stroke-width: 0;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.hui-LinePath__line {
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  fill: none;
}

.hui-LinePath__target {
  fill: transparent;
}

.hui-LinePath__target:hover {
  fill: $green-active;
}
