fieldset.hui-Fieldset {
  position: relative;
  border: 0px solid;
  border-left: $x-1 solid $grey-lighter;
  background-color: $grey-lightest;
  padding-top: $x-6;
  padding-left: $x-2;
  margin-bottom: $x-4;
}

fieldset.hui-Fieldset--focused {
  border-color: $grey-light;
}

fieldset.hui-Fieldset--with-legend {
  padding: $x-11 0 0 $x-2;
}

.hui-Fieldset__legend {
  font-size: 9px;
  line-height: 9px;
  color: $grey;
  display: block;
  width: 100%;
  font-family: $font-copy;
  font-size: $x-3;
  position: absolute;
  top: $x-4;
  left: 23px;
}
