fieldset.hui-Fieldset {
  position: relative;
  border: 0px solid;
  border-left: 4px solid $hui-header-fieldset-border;
  background-color: $hui-fieldset-background;
  padding-top: $hui-x-6;
  padding-left: $hui-x-2;
  margin-bottom: $hui-x-4;
}

fieldset.hui-Fieldset--focused {
  border-color: $hui-header-fieldset-border-active;
}

fieldset.hui-Fieldset--with-legend {
  padding: 44px 0 0 $hui-x-2;
}

.hui-Fieldset__legend {
  font-size: 9px;
  line-height: 9px;
  color: #525252;
  display: block;
  width: 100%;
  font-family: $hui-font-family;
  font-size: 13px;
  position: absolute;
  top: 16px;
  left: 23px;
}
