.hui-Button {
  @extend %general-reset;
  @extend %a-reset;
  transition: all 160ms ease-out;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 2px;
  line-height: 44px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  outline-color: transparent;
  outline-style: none;
  vertical-align: middle;

  &:before {
    transition: all 200ms ease-out;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    margin-top: -50%;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
  }

  &:hover, &:focus {
    color: white;
    text-decoration: none;
  }

  &:hover:before, &:focus:before {
    transform: scale(1);
    opacity: 1;
  }

  &:active:before {
    transform: scale(1);
    opacity: 0;
  }
}

a.hui-Button {
  padding: 1px 1px 0px 0;
}

.hui-Button__label {
  font-size: 14px;
  padding: 0 20px;
  letter-spacing: 0.15em;
}

.hui-Button__icon {
  transition: all 240ms ease-out;
  width: 0;
  opacity: 0;
  float: right;
  margin-left: -5px;
  border-width: 0;
  border-style: solid;
  border-left-width: 1px;
  overflow: hidden;
}

.hui-Button--uppercase {
  text-transform: uppercase;

  .hui-Button__label  {
    font-size: 13px;
  }
}

.hui-Button--iconLeft .hui-Button__icon {
  margin-left: 0;
  border-left-width: 0;
  border-right-width: 1px;
  margin-right: -5px;
  float: left;
}

.hui-Button--hasIcon .hui-Button__icon {
  width: 44px;
  opacity: 1;
}

.hui-Button--cta,
.hui-Button--primary {
  line-height: 44px;
}

.hui-Button--thin {
  line-height: 36px;
}

.hui-Button--cta,
.hui-Button--secondary {
  border-color: #00a044;
  &:before {
    background-color: #00b44d;
    box-shadow: 0 0 90px 60px #00b44d;
  }
  .hui-Button__icon {
    border-color: #7ec774;
  }
}

.hui-Button--primary,
.hui-Button--tertiary {
  border-color: #525252;
  &:before {
    background-color: #666;
    box-shadow: 0 0 90px 60px #666;
  }
  .hui-Button__icon {
    border-color: #aaa;
  }
}

.hui-Button--cta {
  color: white;
  background-color: #00a044;
}

.hui-Button--primary {
  color: white;
  background-color: #525252;
}

.hui-Button--secondary {
  color: #00a044;
  background-color: transparent;
  &:active {
    color: #00a044;
  }
}

.hui-Button--tertiary {
  color: #525252;
  background-color: transparent;
  &:active {
    color: #525252;
  }
}

.hui-Button--primary.hui-Button--inverse {
  border-color: white;
  &:before {
    background-color: #eee;
    box-shadow: 0 0 90px 60px #eee;
  }
}

.hui-Button--secondary.hui-Button--inverse,
.hui-Button--tertiary.hui-Button--inverse {
  border-color: white;
  &:before {
    background-color: #eee;
    box-shadow: 0 0 90px 60px #eee;
  }
  .hui-Button__icon {
    border-color: white;
  }
}

.hui-Button--primary.hui-Button--inverse {
  color: #525252;
  background-color: white;
}

.hui-Button--secondary.hui-Button--inverse {
  color: white;
  &:hover, &:focus {
    color: #00a044;
  }
}

.hui-Button--tertiary.hui-Button--inverse {
  color: white;
  &:hover, &:focus {
    color: #525252;
  }
}

.hui-Button--disabled {
  color: #aaa !important;
  border-color: #aaa !important;
  border-style: dashed !important;
  background-color: $hui-disabled-button;
  &:before {
    background-color: transparent !important;
    box-shadow: 0 0 90px 60px transparent !important;
  }
  .hui-Button__icon {
    border-color: #aaa !important;
    border-style: dashed !important;
  }
}

.hui-Button--disabled.hui-Button--inverse {
  background-color: transparent;
}

.hui-Button--disabled.hui-Button--primary.hui-Button--inverse {
  background-color: $hui-disabled-button;
}
