.hui-Button {
  @extend %general-reset;
  @extend %a-reset;
  transition: all 160ms ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 2px;
  line-height: $x-11;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  outline-color: transparent;
  outline-style: none;
  vertical-align: middle;
  background-color: transparent;

  &:before {
    transition: all 200ms ease-out;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    margin-top: -50%;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
  }

  &:hover, &:focus {
    color: white;
    text-decoration: none;
  }

  &:hover:before, &:focus:before {
    transform: scale(1);
    opacity: 1;
  }

  &:active:before {
    transform: scale(1);
    opacity: 0;
  }
}

.hui-Button--cta,
.hui-Button--primary,
.hui-Button--secondary,
.hui-Button--tertiary,
.hui-Button--facebook,
.hui-Button--twitter,
.hui-Button--googleplus,
.hui-Button--pinterest {
  border-width: 1px;
  border-style: solid;
  border-radius: $border-radius;
}

a.hui-Button {
  padding: 1px 1px 0px 0;
}

.hui-Button__label {
  font-size: 14px;
  padding: 0 $x-5;
  letter-spacing: 0.15em;
  position: relative;
}

.hui-Button__icon {
  transition: all 240ms ease-out;
  width: 0;
  opacity: 0;
  float: right;
  border-width: 0;
  overflow: hidden;
  position: relative;
}

.hui-Button--cta,
.hui-Button--primary,
.hui-Button--secondary,
.hui-Button--tertiary,
.hui-Button--facebook,
.hui-Button--twitter,
.hui-Button--googleplus,
.hui-Button--pinterest {
  .hui-Button__icon {
    margin-left: -5px;
    border-style: solid;
    border-left-width: 1px;
  }
}

.hui-Button--cta-borderless,
.hui-Button--primary-borderless,
.hui-Button--secondary-borderless,
.hui-Button--tertiary-borderless,
.hui-Button--facebook-borderless,
.hui-Button--twitter-borderless,
.hui-Button--googleplus-borderless,
.hui-Button--pinterest-borderless {
  .hui-Button__icon {
    margin-left: -30px;
  }
}

.hui-Button--uppercase {
  text-transform: uppercase;

  .hui-Button__label  {
    font-size: $x-3;
  }
}

.hui-Button--iconLeft .hui-Button__icon {
  margin-left: 0;
  border-left-width: 0;
  border-right-width: 1px;
  margin-right: -5px;
  float: left;
}

.hui-Button--hasIcon .hui-Button__icon {
  width: $x-11;
  opacity: 1;
}

.hui-Button--cta,
.hui-Button--primary {
  line-height: $x-11;
}

.hui-Button--thin {
  line-height: $x-9;
}

.hui-Button--cta,
.hui-Button--secondary {
  border-color: $green;
  &:before {
    background-color: $green-active;
    box-shadow: 0 0 90px 60px $green-active;
  }
  .hui-Button__icon {
    border-color: $green-light;
  }
}

.hui-Button--primary,
.hui-Button--tertiary {
  border-color: $grey;
  &:before {
    background-color: $grey;
    box-shadow: 0 0 90px 60px $grey;
  }
  .hui-Button__icon {
    border-color: $grey-light;
  }
}

.hui-Button--cta {
  color: white;
  background-color: $green;
}

.hui-Button--primary {
  color: white;
  background-color: $grey;
}

.hui-Button--secondary {
  color: $green;
  background-color: transparent;
  &:active {
    color: $green;
  }
}

.hui-Button--tertiary {
  color: $grey;
  background-color: transparent;
  &:active {
    color: $grey;
  }
}

.hui-Button--facebook {
  color: white;
  background-color: $facebook;
}
.hui-Button--twitter {
  color: white;
  background-color: $twitter;
}
.hui-Button--googleplus {
  color: white;
  background-color: $googleplus;
}
.hui-Button--pinterest {
    color: white;
  background-color: $pinterest;
}

.hui-Button--primary.hui-Button--inverse {
  border-color: white;
  &:before {
    background-color: $grey-lighter;
    box-shadow: 0 0 90px 60px $grey-lighter;
  }
}

.hui-Button--secondary.hui-Button--inverse,
.hui-Button--tertiary.hui-Button--inverse {
  border-color: white;
  &:before {
    background-color: $grey-lighter;
    box-shadow: 0 0 90px 60px $grey-lighter;
  }
  .hui-Button__icon {
    border-color: white;
  }
}

.hui-Button--primary.hui-Button--inverse {
  color: $grey;
  background-color: white;
}

.hui-Button--secondary.hui-Button--inverse {
  color: white;
  &:hover, &:focus {
    color: $green;
  }
}

.hui-Button--tertiary.hui-Button--inverse {
  color: white;
  &:hover, &:focus {
    color: $grey;
  }
}

.hui-Button--cta-borderless,
.hui-Button--primary-borderless,
.hui-Button--secondary-borderless,
.hui-Button--tertiary-borderless,
.hui-Button--facebook-borderless,
.hui-Button--twitter-borderless,
.hui-Button--googleplus-borderless,
.hui-Button--pinterest-borderless  {

  .hui-Button__label {
    padding: 0 12px;
  }

  .hui-IconWrapper.hui-Button__icon {
    width: $x-5;
    margin-left: 0;
  }

  &:hover, &:focus {
    color: $green;
    text-decoration: underline;
  }
}

.hui-Button--primary-borderless {
  color: $grey;
}

.hui-Button--cta-borderless,
.hui-Button--primary-borderless,
.hui-Button--secondary-borderless,
.hui-Button--tertiary-borderless,
.hui-Button--facebook-borderless,
.hui-Button--twitter-borderless,
.hui-Button--googleplus-borderless,
.hui-Button--pinterest-borderless {
  &.hui-Button--inverse {
    background: none;
    color: white;
    &:hover, &:focus {
      color: $grey-lighter;
    }
  }
}

.hui-Button--disabled {
  color: $grey-light !important;
  border-color: $grey-light !important;
  border-style: dashed !important;
  background-color: $grey-lighter;
  &:before {
    background-color: transparent !important;
    box-shadow: 0 0 90px 60px transparent !important;
  }
  .hui-Button__icon {
    border-color: $grey-light !important;
    border-style: dashed !important;
  }
}

.hui-Button--cta-borderless,
.hui-Button--primary-borderless,
.hui-Button--secondary-borderless,
.hui-Button--tertiary-borderless,
.hui-Button--facebook-borderless,
.hui-Button--twitter-borderless,
.hui-Button--googleplus-borderless,
.hui-Button--pinterest-borderless {
  &.hui-Button--disabled {
    border: 0px;
    background: transparent;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.hui-Button--disabled.hui-Button--inverse {
  background-color: transparent;
}

.hui-Button--disabled.hui-Button--primary.hui-Button--inverse {
  background-color: $grey-lighter;
}

@media screen and (max-width: 399px) {
  .hui-Button__label {
    padding: 0 $x-3;
    font-size: 12px;
    letter-spacing: 0.05em;
  }
}
